openapi: 3.1.0
info:
  description: |
    The Weft API powers the `weft` CLI, the hosted MCP server
    (`weft.network/mcp`), and third-party applications that discover and pay
    for resources on Weft. The buyer runtime covers six concerns:

      1. Account creation and recovery (`/api/v1/auth/*`)
      2. Credential identity (`/api/v1/me`)
      3. Wallet visibility (`/api/v1/balance`)
      4. Discovery (`/api/v1/search`)
      5. Paid execution (`/api/v1/fetch`)
      6. Purchase history (`/api/v1/purchases`)

    Buyer runtime calls require a dashboard-created `wk_*` account key, an
    OAuth access token with the relevant scope, or a claimed `wbt_*` bearer on
    its fixed allowlist. The organization-scoped API key and payment operations
    in this document are seller administration surfaces and require an
    `ax_live_*` resource key. These credential types are not interchangeable.

    This document is a deliberate subset of the `/api/v1` surface, not an
    inventory of it. The seller-side management endpoints — `/api/v1/agents`,
    `/api/v1/webhook_endpoints`, and `/api/v1/analytics` — are reachable with
    an `ax_live_*` key but are intentionally left undocumented: they are
    dashboard-facing and not part of the published client contract. Nothing
    outside this document is a supported contract, and the response-validation
    gate in `config/environments/test.rb` enforces only what is declared here.

    Before claim, a `wbt_*` bearer is temporary and permits only search plus its
    own status/cancel operations for 30 minutes. Human approval binds it to the
    User and promotes the same secret to durable identity, search, balance,
    fetch, purchase-history, status, and revocation capabilities. It remains
    valid until revoked. Seller, organization, API-key administration,
    dashboard-session, transfer, withdrawal, and MCP surfaces always refuse it.

    Bootstrap lifecycle successes follow the API-standard `{ "data": ... }`
    envelope. All errors share the envelope defined by `ErrorResponse`, except the
    buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke
    envelopes carrying additional context — see `SearchErrorResponse` and
    `FetchErrorResponse`.
  title: Weft API
  version: 0.26.9
servers:
- description: Production
  url: https://weft.network
tags:
- description: Temporary search-only access followed by human promotion of the same
    bearer.
  name: Agent Bootstrap
- description: Account creation and authentication flows.
  name: Auth
- description: Current user account information.
  name: Account
- description: |
    Manage seller organization/resource keys (`ax_live_*`). Buyer runtime
    keys (`wk_*`) are created and rotated in the buyer dashboard.
  name: API Keys
- description: |
    Read-only snapshot of the buyer's wallet, spending policy, and
    current-window spend (today / this week).
  name: Balance
- description: |
    Semantic search across the Weft index of paid agent resources.
    Returns A2A-shaped AgentCards with pricing, skills, ranking, and
    endpoints.
  name: Search
- description: |
    The universal x402/MPP fetch proxy. POST any URL the agent wants to
    reach, with a `max_cost_usd` ceiling; Weft handles the `402 Payment
    Required` challenge, authorizes payment from the buyer's wallet on
    the selected rail, replays the request, and streams the upstream
    artifact back base64-encoded. Errors always carry the buyer's current
    policy + balance + dashboard URL so the caller can surface "what
    changed?" without a second round-trip.
  name: Fetch
- description: Seller Organization payment receipts.
  name: Payments
- description: Buyer signing and settlement history.
  name: Purchases
- description: |
    Public, unauthenticated ghost-resource enrollment. Lets an agent
    self-register so its human controller can later claim it from the
    dashboard.
  name: Resources
- description: "This document, served for tooling that reads the spec directly."
  name: Documentation
paths:
  /docs/openapi.yaml:
    get:
      operationId: getOpenApiDocument
      responses:
        "200":
          content:
            application/yaml:
              schema:
                type: string
          description: OpenAPI 3.1 document (YAML)
      summary: Fetch this OpenAPI document
      tags:
      - Documentation
  /api/v1/account_bootstraps:
    post:
      description: |
        Creates a 30-minute, search-only bootstrap and emails a separate claim
        link to the supplied address. Human approval binds the same `wbt_*`
        bearer to the account and promotes it to the fixed durable capability
        set. The response is deliberately identical for new and existing
        account emails and never contains the claim token.
        Rate limits apply per IP and normalized email; request bodies over 4 KiB
        are rejected before parsing. The bootstrap row and one-time credentials
        are committed only after the mail relay accepts the
        claim email. A retryable 503 leaves no bootstrap row behind.
      operationId: createAccountBootstrap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBootstrapRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapCreatedResponse"
          description: Bootstrap created after the claim email is accepted for delivery
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Claim email delivery is temporarily unavailable; no bootstrap
            was created and the request may be retried
          headers:
            Retry-After:
              description: "Suggested delay before retrying, in seconds."
              explode: false
              schema:
                pattern: "^[1-9][0-9]*$"
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Request body exceeds the 4 KiB limit
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid bootstrap context
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitResponse"
          description: Rate limit exceeded
      security: []
      summary: Create a temporary agent bootstrap
      tags:
      - Agent Bootstrap
  /api/v1/account_bootstraps/{id}:
    delete:
      description: |
        A pending bootstrap becomes rejected. A claimed promoted credential
        becomes revoked and fails every subsequent request immediately.
      operationId: cancelAccountBootstrap
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^boot_[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapStatusResponse"
          description: Rejected or revoked terminal lifecycle status
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unknown ID or non-matching bootstrap credential
      security:
      - bootstrapAuth: []
      summary: Cancel or revoke a bootstrap credential
      tags:
      - Agent Bootstrap
    get:
      operationId: getAccountBootstrap
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^boot_[A-Za-z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapStatusResponse"
          description: Current lifecycle and polling guidance while the credential
            can authenticate
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unknown ID or non-matching bootstrap credential
      security:
      - bootstrapAuth: []
      summary: Read bootstrap lifecycle status
      tags:
      - Agent Bootstrap
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        pattern: "^boot_[A-Za-z0-9_-]+$"
        type: string
      style: simple
  /api/v1/resources/enroll:
    post:
      description: |
        Lets an unauthenticated agent (or its operator) self-enroll a
        Resource as a "ghost" (no owning provider). The server generates the
        `slug` and a single-use `claim_token`; the response also carries a
        `claim_url` the agent hands to its human controller to claim the
        resource from the dashboard.

        Client-supplied `slug` and `category` are silently ignored: slugs are
        server-generated from `name` (so callers cannot squat on reserved
        names), and `category` is a post-claim concern set by a real human.

        Rate-limited to 10 enrollments/hour/IP.
      operationId: enrollResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceEnrollmentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceEnrollmentResponse"
          description: Ghost resource created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Validation error (missing/blank fields, or unknown `kind`)"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded (10 enrollments/hour/IP)
      summary: "Self-enroll a ghost resource (public, no auth)"
      tags:
      - Resources
  /api/v1/auth/sign_up:
    post:
      operationId: signUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded (20 accounts/hour/IP)
      summary: Create an account
      tags:
      - Auth
  /api/v1/auth/confirm:
    post:
      operationId: confirmAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Account confirmed
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid token
      summary: Confirm an account
      tags:
      - Auth
  /api/v1/auth/resend-confirmation:
    post:
      operationId: resendConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Confirmation sent
      summary: Resend confirmation email
      tags:
      - Auth
  /api/v1/auth/sign_in:
    post:
      operationId: signIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Signed in
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid credentials
      summary: Sign in with email and password
      tags:
      - Auth
  /api/v1/auth/password/reset:
    post:
      operationId: requestPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Reset email sent
      summary: Request password reset
      tags:
      - Auth
  /api/v1/auth/password/update:
    post:
      operationId: updatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password updated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid or expired reset token
      summary: Update password with reset token
      tags:
      - Auth
  /api/v1/me:
    get:
      description: |
        Returns the seller Organization represented by an `ax_live_*` resource
        key, or the buyer User represented by a `wk_*` account key, OAuth access
        token, or claimed `wbt_*` bearer. Branch on `data.principal_type`.
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
          description: Current Organization or User principal
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get the current credential principal
      tags:
      - Account
  /api/v1/api_keys:
    get:
      description: List `ax_live_*` resource keys for the seller Organization.
      operationId: listApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
          description: List of API keys
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
      security:
      - bearerAuth: []
      summary: List API keys
      tags:
      - API Keys
    post:
      description: |
        Create an `ax_live_*` resource key for the authenticated seller
        Organization. Buyer `wk_*` keys are created in the buyer dashboard.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
          description: "API key created (includes raw key, shown only once)"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Validation error
      security:
      - bearerAuth: []
      summary: Create an API key
      tags:
      - API Keys
  /api/v1/api_keys/{id}:
    delete:
      operationId: revokeApiKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: API key revoked
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: API key not found
      security:
      - bearerAuth: []
      summary: Revoke an API key
      tags:
      - API Keys
  /api/v1/balance:
    get:
      description: |
        Read-only snapshot for the buyer behind the bearer token. The
        response always includes a `promo` block — values are zero in v1
        and fill in once the freemium promo ledger ships, without a
        shape change. The Base USDC balance is fetched
        server-side through Crossmint. If Crossmint is unreachable, the
        balance fields are `null`; consumers must not interpret that as zero.

        Account-scoped: the bearer must be a buyer-scoped API key, an OAuth
        access token carrying `balance`, or a claimed `wbt_*` bearer.
      operationId: getBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
          description: Wallet + policy + spend snapshot
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: |
            The OAuth access token authenticated but lacks the `balance`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="balance"`
            header. `wk_` API keys are unscoped and never see this.
      security:
      - bearerAuth: []
      summary: "Get wallet, spending policy, and current-window spend"
      tags:
      - Balance
  /api/v1/search:
    post:
      description: |
        Semantic search over the Weft index of paid agent resources. The
        request body is the weft-search-platform `/v1/search` contract:
        a free-text `query`, optional `max_results`, and optional structured
        `filters` (price / price_atomic / type / protocol — the canonical
        FilterSpec v1 vocabulary, vendored verbatim from the platform). Price is
        a dual representation of one constraint: `price` in USD decimal strings
        (the reasoning form) XOR `price_atomic` in integer micro-USD (the
        settlement form) — mutually exclusive, set at most one.

        Account-scoped: the bearer token must be a buyer-scoped API key, an
        OAuth token carrying `search`, or a pending or claimed `wbt_*` bootstrap
        bearer. Pending bootstrap access uses an anonymous bootstrap identity;
        after claim, the promoted bearer uses its bound User. Rejection,
        cancellation, expiry, and revocation end bootstrap search. Bootstrap
        search is limited to 60 requests per credential and 120 per IP each
        hour before native credential promotion.

        Response negotiation: `Accept: application/json` (default) returns
        the structured envelope; `Accept: text/markdown` returns a rendered
        Markdown digest of the same results — useful for piping into a chat
        UI or LLM prompt.
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/markdown:
              schema:
                description: Rendered Markdown digest of the same results.
                type: string
          description: Search results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: |
            The OAuth access token authenticated but lacks the `search`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="search"`
            header. `wk_` API keys are unscoped and never see this.
        "406":
          description: The requested response format is not JSON or Markdown.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: |
            Invalid request — empty/missing `query`, out-of-range
            `max_results`, an unknown top-level parameter, or invalid
            `filters` (unknown filter key/operator, bad enum value, or a
            sub-filter without exactly one operator). See the `error` code.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitResponse"
          description: Bootstrap search rate limit exceeded
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: Search service unavailable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Search the Weft index
      tags:
      - Search
  /api/v1/fetch:
    post:
      description: |
        Universal x402/MPP fetch proxy. The caller provides a target `url`,
        a hard `max_cost_usd` ceiling, and optional `method` / `body` /
        `headers`. Weft:

          1. Issues the request.
          2. On `402 Payment Required`, selects a supported x402 or MPP challenge.
          3. Compares the asking price to `max_cost_usd` and the
             buyer's policy (`max_tx_usd`, daily/weekly limits).
          4. If an eligible mainnet MPP challenge finds its Tempo token short,
             creates or adopts a buyer-owned Base-to-Tempo refill and returns
             `409 FUNDING_PENDING` with `details.reason=funding_active`. If an
             overlapping payment invalidates the balance observation before a
             bridge is created, the same retryable response carries
             `details.reason=balance_changed`. The caller retries the identical
             fetch after `details.retry_after_seconds`; that later request
             obtains a fresh challenge and reruns rail selection and all payment
             controls.
          5. Authorizes payment from the buyer's wallet on the selected rail.
          6. Replays the request with the protocol-specific payment credential.
          7. Streams the upstream artifact back, base64-encoded under
              `body_base64`, with `paid_usd`, `held_usd`, `payment_status`,
              `tx_hash`, and `protocol`. `paid_usd`
             is "0.00" until the charge is CONFIRMED settled — a signed-but-
             unsettled hold (the common case for x402, which settles
             asynchronously) reports its amount in `held_usd` instead, never
             in `paid_usd`.

        Errors are structured with a stable `error` code, and each error
        response carries the buyer's `policy`, `balance`, and a
        `dashboard_url` so a CLI can render an actionable message without
        a second round-trip.

        Account-scoped: the bearer must be a buyer-scoped API key, an OAuth
        access token carrying `fetch`, or a claimed `wbt_*` bearer.

        **Forwarded headers:** the caller's `headers` are passed through
        to the upstream, except a denylist of hop-by-hop and
        Weft-internal headers (`host`, `authorization`, `cookie`,
        `proxy-authorization`, `x-forwarded-*`, `x-real-ip`,
        `x-payment`, `connection`, `upgrade`). Up to 32 headers, 4 KB of
        combined value bytes.
      operationId: fetch
      parameters:
      - description: |
          Opaque caller-generated retry key. Reusing the same key for the
          same buyer converges on one paid fetch; keys are hashed and
          namespaced by buyer before storage. Send this header for every
          unattended or retryable paid request.
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[!-~]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchResponse"
          description: Paid fetch succeeded; artifact streamed back base64-encoded.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped API key
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            Payment refused. `EXCEEDED_MAX_COST` (over the caller cap) or
            `INSUFFICIENT_BALANCE` (the buyer is genuinely short —
            `details.asset`, when present, names the exact token the failed
            check read). Both use `FetchErrorResponse`.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fetch_403_response"
          description: |
            Policy violation, missing Crossmint payment permission
            (`PAYMENT_AUTHORIZATION_REQUIRED` — `details` carries the
            wallet-page URL where the authenticated user can enable
            payments), denylisted recipient, or a merchant challenge on a
            chain outside the wallet's own environment — a testnet wallet may
            not pay a mainnet challenge, nor the reverse
            (`WALLET_ENVIRONMENT_MISMATCH`; terminal, not retryable). All four
            use `FetchErrorResponse`. Alternatively an OAuth access token
            lacking the `fetch` scope (`InsufficientScopeResponse`, RFC 6750
            `insufficient_scope`, with a `WWW-Authenticate` challenge). The two
            envelopes are disjoint; branch on the `error` value.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            `IDEMPOTENCY_CONFLICT` — this buyer already used the supplied
            `Idempotency-Key` for a different fetch request. Generate a new key
            for the new operation; retry the original operation unchanged.

            Or `WALLET_SETUP_INCOMPLETE` — the buyer's wallet has not been
            created yet, so there is nothing to pay from. `details.wallet_url`
            carries the page where the authenticated user finishes setup. No
            retry succeeds until they do.

            Or `ACCOUNT_CLOSING` — account closure has started, so the wallet
            cannot reserve a new payment.

            Or `FUNDING_PENDING` — retry after `details.retry_after_seconds`.
            `details.reason` is `funding_active` when a buyer-owned Base-to-Tempo
            refill exists, or `balance_changed` when an overlapping payment
            invalidated the balance observation before funding could start.

            Or `DELIVERY_REPLAY_UNAVAILABLE` — the merchant already returned a
            successful response for this settled MPP payment, but Weft could
            not persist its bytes for replay. The merchant is not called again;
            `details.tx_hash` identifies the settled payment. All five use
            `FetchErrorResponse`.
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: Upstream artifact exceeded the proxy's size cap.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            Invalid request fields, method, cost, body, headers, idempotency
            key, or URL. `UNSUPPORTED_ASSET` means the merchant requested an
            asset this wallet cannot settle. `UNSUPPORTED_PAYMENT_METHOD`
            means the MPP challenge requested a method Weft cannot execute.
        "424":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            `MERCHANT_RETURNED_NON_402` — the upstream merchant is at fault: it
            did not return a 402, or its 402 challenge was invalid. A 4xx (not
            5xx) because Weft behaved correctly and the caller should act on
            `details.reason` (e.g. pick another merchant); it also keeps the
            error envelope intact through CDNs that replace 5xx bodies.

            `PAID_DELIVERY_FAILED` — the MPP payment settled, but the merchant
            did not deliver a successful response. `details.tx_hash` identifies
            the settled payment; `details.merchant_status` is present when the
            merchant returned an HTTP response.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            Merchant connection failure (`MERCHANT_CONNECTION_FAILED`) or
            settlement signing failed on Weft's side (`SETTLEMENT_FAILED`).
            For merchant failures, `details.phase` identifies challenge or paid;
            paid requests may have moved funds. Reuse the same idempotency key.
            `details.reason` carries a stable payment sentence.
            `details.protocol` names a direct payment rail when that is safe and
            useful. It is absent for automatic-funding failures so provider,
            bridge, and retry details stay internal.
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
          description: |
            `MERCHANT_TIMEOUT` — the upstream merchant did not complete the
            challenge or paid request inside Weft's transport budget.
            `details.phase` names the request. When it is `paid`,
            `details.payment_may_have_moved` is true because the credential was
            already sent. Retry the identical operation with the same
            `Idempotency-Key`.

            `SETTLEMENT_PENDING` — the payment was submitted and the wallet
            provider had not reached a terminal state before Weft's polling
            budget ran out. NOTHING is known to have failed: the charge may
            already have settled, so this is not `SETTLEMENT_FAILED` and the
            amount is not lost. `details.retry_with_same_idempotency_key` is
            `true`.

            Retry the identical request shortly. Sending the same
            `Idempotency-Key` resumes the same provider operation; a caller that
            sends no key is also safe, because Weft resumes its own in-flight
            operation for the same merchant, amount and network rather than
            opening a second one. Either way the retry resolves the original
            payment instead of charging twice.
      security:
      - bearerAuth: []
      summary: Pay-and-fetch any URL (x402/MPP proxy)
      tags:
      - Fetch
  /api/v1/payments:
    get:
      operationId: listPayments
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
          description: List of payments
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
      security:
      - bearerAuth: []
      summary: List payments
      tags:
      - Payments
  /api/v1/payments/{id}:
    get:
      operationId: getPayment
      parameters:
      - description: Payment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
          description: Payment details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payment not found
      security:
      - bearerAuth: []
      summary: Get payment details
      tags:
      - Payments
  /api/v1/purchases:
    get:
      description: |
        Returns the authenticated buyer's signing and settlement ledger. Unlike
        `/api/v1/payments`, this endpoint is User-scoped and backed by
        `signed_events`, so rejected and pending attempts are included.

        Scoped to the buyer's own merchant spend, matching the dashboard's
        Purchases page. Internal signings are excluded: historical refill
        self-transfers (`rebalance`) and operator signings (`manual`) are not
        payments the buyer made and never appear here.
      operationId: listPurchases
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseListResponse"
          description: Buyer purchase ledger
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped credential
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: OAuth token lacks the `balance` scope.
      security:
      - bearerAuth: []
      summary: List buyer purchases
      tags:
      - Purchases
  /api/v1/purchases/{id}:
    get:
      operationId: getPurchase
      parameters:
      - description: Purchase ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseResponse"
          description: Buyer purchase details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized — missing or non-buyer-scoped credential
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
          description: OAuth token lacks the `balance` scope.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Purchase not found or owned by another buyer
      security:
      - bearerAuth: []
      summary: Get a buyer purchase
      tags:
      - Purchases
components:
  schemas:
    AccountBootstrapRequest:
      additionalProperties: false
      example:
        email: human@example.com
        agent_name: Research agent
        host_name: OpenCode
        reason: Find weather data
      properties:
        email:
          format: email
          maxLength: 320
          type: string
        agent_name:
          maxLength: 100
          minLength: 1
          type: string
        host_name:
          maxLength: 100
          type: string
        reason:
          maxLength: 500
          type: string
        oauth_client_id:
          deprecated: true
          description: Transitional compatibility for older CLI releases that use
            OAuth device exchange.
          type: string
        requested_scopes:
          description: Transitional compatibility for older CLI releases that use
            OAuth device exchange.
          items:
            enum:
            - balance
            - fetch
            - search
            type: string
          type: array
          uniqueItems: true
      required:
      - agent_name
      - email
    AccountBootstrapCreated:
      additionalProperties: false
      example:
        id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
        status: pending
        capabilities:
        - search
        - status
        - cancel
        expires_at: 2026-08-22T14:30:00Z
        approval:
          method: email_link
          expires_in: 1800
          interval: 5
          user_code: W3FT-7K2M
        temporary_api_key: wbt_example_store_as_a_secret
      properties:
        id:
          pattern: "^boot_[A-Za-z0-9_-]+$"
          type: string
        status:
          enum:
          - pending
          - claimed
          - rejected
          - expired
          - consumed
          - revoked
          type: string
        capabilities:
          items:
            enum:
            - identity
            - search
            - balance
            - fetch
            - purchases
            - status
            - cancel
            - revoke
            type: string
          type: array
          uniqueItems: true
        expires_at:
          description: Claim-window expiry. Null after the credential is promoted.
          format: date-time
          nullable: true
          type: string
          nullable: true
        approval:
          $ref: "#/components/schemas/AccountBootstrapCreatedApproval"
        temporary_api_key:
          description: Returned once. Store as a secret; it cannot be recovered.
          pattern: "^wbt_[A-Za-z0-9_-]+$"
          type: string
        device_code:
          deprecated: true
          description: Transitional response field for older CLI releases that use
            OAuth device exchange.
          minLength: 32
          type: string
      required:
      - approval
      - capabilities
      - expires_at
      - id
      - status
      - temporary_api_key
    AccountBootstrapCreatedResponse:
      additionalProperties: false
      example:
        data:
          id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
          status: pending
          capabilities:
          - search
          - status
          - cancel
          expires_at: 2026-08-22T14:30:00Z
          approval:
            method: email_link
            expires_in: 1800
            interval: 5
            user_code: W3FT-7K2M
          temporary_api_key: wbt_example_store_as_a_secret
      properties:
        data:
          $ref: "#/components/schemas/AccountBootstrapCreated"
      required:
      - data
    AccountBootstrapStatusResponse:
      additionalProperties: false
      example:
        data:
          id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
          status: claimed
          capabilities:
          - identity
          - search
          - balance
          - fetch
          - purchases
          - status
          - revoke
          approval:
            method: email_link
            expires_in: 0
            interval: 5
      properties:
        data:
          $ref: "#/components/schemas/AccountBootstrapStatus"
      required:
      - data
    AccountBootstrapStatus:
      additionalProperties: false
      example:
        id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
        status: claimed
        capabilities:
        - identity
        - search
        - balance
        - fetch
        - purchases
        - status
        - revoke
        approval:
          method: email_link
          expires_in: 0
          interval: 5
      properties:
        id:
          pattern: "^boot_[A-Za-z0-9_-]+$"
          type: string
        status:
          enum:
          - pending
          - claimed
          - rejected
          - expired
          - consumed
          - revoked
          type: string
        capabilities:
          items:
            enum:
            - identity
            - search
            - balance
            - fetch
            - purchases
            - status
            - cancel
            - revoke
            type: string
          type: array
          uniqueItems: true
        expires_at:
          description: Claim-window expiry. Null after the credential is promoted.
          format: date-time
          nullable: true
          type: string
          nullable: true
        approval:
          $ref: "#/components/schemas/AccountBootstrapApproval"
      required:
      - approval
      - capabilities
      - expires_at
      - id
      - status
    AccountBootstrapApproval:
      additionalProperties: false
      properties:
        method:
          enum:
          - email_link
          type: string
        expires_in:
          minimum: 0
          type: integer
        interval:
          description: Minimum status polling interval in seconds.
          minimum: 1
          type: integer
      required:
      - expires_in
      - interval
      - method
    AccountBootstrapCreatedApproval:
      additionalProperties: false
      properties:
        method:
          enum:
          - email_link
          type: string
        expires_in:
          minimum: 0
          type: integer
        interval:
          description: Minimum status polling interval in seconds.
          minimum: 1
          type: integer
        user_code:
          description: Show this code to the human; approval requires a matching normalized
            code.
          pattern: "^[A-Z0-9]{4}-[A-Z0-9]{4}$"
          type: string
      required:
      - expires_in
      - interval
      - method
      - user_code
    RateLimitResponse:
      example:
        error_description: error_description
        error: too_many_requests
      properties:
        error:
          enum:
          - too_many_requests
          type: string
        error_description:
          type: string
      required:
      - error
      - error_description
    ErrorResponse:
      description: |
        Standard error envelope returned by all `/api/v1` endpoints except
        `/search` and `/fetch` (which use bespoke envelopes carrying
        additional context). `error.code` is stable across releases and
        safe to branch on; `error.message` is human-readable and may change.
      example:
        error:
          code: unauthorized
          message: Invalid or expired API key
          request_id: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
      - error
    Error:
      description: |
        A single error inside an `ErrorResponse` envelope. `code` is the
        stable machine-readable identifier (snake_case), `message` is
        human-readable, `details` carries optional structured context
        (e.g. validation field breakdown), and `request_id` correlates
        with server logs for debugging.
      properties:
        code:
          description: Stable machine-readable error code (snake_case).
          example: validation_failed
          type: string
        message:
          description: Human-readable error description.
          example: Email has already been taken
          type: string
        details:
          description: Optional structured context about the failure.
          type: object
          nullable: true
        request_id:
          description: Correlates with server logs; include when reporting bugs.
          example: req_01HX9F3K7B2N4P8Q1R6T8Y2Z5
          type: string
      required:
      - code
      - message
    InsufficientScopeResponse:
      description: |
        RFC 6750 §3.1 `insufficient_scope` error. Returned with HTTP 403 and
        a `WWW-Authenticate: Bearer error="insufficient_scope", scope="..."`
        header when an OAuth access token authenticates successfully but does
        not carry the scope the endpoint requires. Only OAuth bearer tokens
        are scope-gated; `wk_`-prefixed API keys are unscoped and never see
        this response.
      example:
        error_description: The access token does not include the required scope.
        scope: balance
        error: insufficient_scope
      properties:
        error:
          enum:
          - insufficient_scope
          example: insufficient_scope
          type: string
        error_description:
          example: The access token does not include the required scope.
          type: string
        scope:
          description: Space-delimited list of scopes the endpoint requires.
          example: balance
          type: string
      required:
      - error
      - error_description
      - scope
    MessageResponse:
      example:
        data:
          message: message
      properties:
        data:
          $ref: "#/components/schemas/MessageResponse_data"
      required:
      - data
    ResourceEnrollmentRequest:
      description: |
        `slug` and `category` are accepted but silently ignored — the server
        generates the slug from `name`, and category is a post-claim concern.
      example:
        wallet_address: wallet_address
        kind: agent
        name: Self-Enrolled Bot
        description: description
      properties:
        kind:
          description: |
            Resource kind. Must be one of the supported kinds (currently
            `agent`); an unknown value is rejected with a 422.
          example: agent
          type: string
        name:
          description: Human-readable name; the server derives the slug from it.
          example: Self-Enrolled Bot
          type: string
        description:
          type: string
        wallet_address:
          description: |
            Declared EVM wallet address for the ghost resource. Stored as a
            claim (unverified) until the resource is claimed.
          type: string
      required:
      - kind
      - name
    ResourceEnrollmentResponse:
      example:
        data:
          wallet_address: wallet_address
          claim_url: claim_url
          visibility: public_profile
          kind: agent
          claim_token: claim_token
          claimed: true
          verified: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          stats:
            payments_received: 5
            first_seen: 2000-01-23T04:56:07.000+00:00
            total_paid: 6
            payments_made: 5
            last_active: 2000-01-23T04:56:07.000+00:00
            total_received: 1
            unique_counterparties: 2
          name: name
          id: 0
          category: category
          slug: slug
      properties:
        data:
          $ref: "#/components/schemas/EnrolledResource"
      required:
      - data
    EnrolledResource:
      description: |
        The `:created` view of a ghost resource. Adds `stats`, the single-use
        `claim_token`, and the `claim_url` to the base resource shape. The
        claim fields appear ONLY on this enrollment response — never in list
        or read views.
      example:
        wallet_address: wallet_address
        claim_url: claim_url
        visibility: public_profile
        kind: agent
        claim_token: claim_token
        claimed: true
        verified: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        stats:
          payments_received: 5
          first_seen: 2000-01-23T04:56:07.000+00:00
          total_paid: 6
          payments_made: 5
          last_active: 2000-01-23T04:56:07.000+00:00
          total_received: 1
          unique_counterparties: 2
        name: name
        id: 0
        category: category
        slug: slug
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        kind:
          example: agent
          type: string
        visibility:
          example: public_profile
          type: string
        wallet_address:
          description: "Declared wallet address, or `null` if none was provided."
          type: string
          nullable: true
        category:
          description: |
            Legacy v3 taxonomy field. Returns a string only for `agent`-kind
            resources that carry a `category` in their metadata; `null` for
            all other kinds and for agents without one. Always `null` on
            enrollment (category is a post-claim concern).
          type: string
          nullable: true
        verified:
          type: boolean
        claimed:
          description: True once the resource has an owning provider. Always false
            at enrollment.
          type: boolean
        created_at:
          format: date-time
          type: string
        stats:
          $ref: "#/components/schemas/ResourceStats"
        claim_token:
          description: Single-use token for the magic claim URL. Surfaced only on
            enrollment.
          type: string
        claim_url:
          description: Dashboard path the agent hands to its human to claim the resource.
          type: string
          nullable: true
      required:
      - category
      - claim_token
      - claim_url
      - claimed
      - created_at
      - id
      - kind
      - name
      - slug
      - stats
      - verified
      - visibility
    ResourceStats:
      description: Aggregate public payment stats for the resource.
      example:
        payments_received: 5
        first_seen: 2000-01-23T04:56:07.000+00:00
        total_paid: 6
        payments_made: 5
        last_active: 2000-01-23T04:56:07.000+00:00
        total_received: 1
        unique_counterparties: 2
      properties:
        total_paid:
          description: Total atomic units paid out by this resource.
          type: integer
        total_received:
          description: Total atomic units received by this resource.
          type: integer
        payments_made:
          type: integer
        payments_received:
          type: integer
        unique_counterparties:
          type: integer
        first_seen:
          format: date-time
          type: string
          nullable: true
        last_active:
          format: date-time
          type: string
          nullable: true
      required:
      - first_seen
      - last_active
      - payments_made
      - payments_received
      - total_paid
      - total_received
      - unique_counterparties
    Pagination:
      example:
        per_page: 1
        total: 5
        page: 6
        total_pages: 5
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      required:
      - page
      - per_page
      - total
      - total_pages
    SignUpRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - email
      - password
      - password_confirmation
    SignInRequest:
      example:
        password: password
        email: email
      properties:
        email:
          format: email
          type: string
        password:
          type: string
      required:
      - email
      - password
    ConfirmRequest:
      example:
        confirmation_token: confirmation_token
      properties:
        confirmation_token:
          type: string
      required:
      - confirmation_token
    ResendConfirmationRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordResetRequest:
      example:
        email: email
      properties:
        email:
          format: email
          type: string
      required:
      - email
    PasswordUpdateRequest:
      example:
        password: password
        password_confirmation: password_confirmation
        reset_password_token: reset_password_token
      properties:
        reset_password_token:
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required:
      - password
      - password_confirmation
      - reset_password_token
    AuthResponse:
      example:
        data:
          confirmation_required: true
          user:
            id: 0
            email: email
            status: status
          token: token
      properties:
        data:
          $ref: "#/components/schemas/AuthResponse_data"
      required:
      - data
    User:
      example:
        id: 0
        email: email
        status: status
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        status:
          type: string
      required:
      - email
      - id
    MeResponse:
      example:
        data:
          api_key:
            last_used_at: 2000-01-23T04:56:07.000+00:00
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            created_by:
              id: 1
              display_name: display_name
              email: email
          kind: kind
          name: name
          id: 0
          principal_type: organization
          slug: slug
      properties:
        data:
          $ref: "#/components/schemas/MeResponse_data"
      required:
      - data
    AccountDetails:
      description: |
        The Organization that owns the authenticated API key — the principal
        in API v1 (the key represents an Org, not a person). `api_key` carries
        audit info about the key itself, including the user who minted it
        (`created_by`, which may be `null` if that user has left the Org).
      example:
        api_key:
          last_used_at: 2000-01-23T04:56:07.000+00:00
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 6
          created_by:
            id: 1
            display_name: display_name
            email: email
        kind: kind
        name: name
        id: 0
        principal_type: organization
        slug: slug
      properties:
        principal_type:
          enum:
          - organization
          type: string
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        kind:
          type: string
        api_key:
          $ref: "#/components/schemas/MeApiKey"
      required:
      - api_key
      - id
      - kind
      - name
      - principal_type
      - slug
    UserPrincipal:
      description: The buyer User represented by an account API key or OAuth token.
      properties:
        principal_type:
          enum:
          - user
          type: string
        id:
          type: integer
        email:
          format: email
          type: string
        display_name:
          type: string
          nullable: true
        status:
          enum:
          - active
          - blocked
          type: string
        buyer_enabled:
          type: boolean
        seller_enabled:
          type: boolean
        provisioning_status:
          enum:
          - pending
          - ready
          - not_applicable
          type: string
        wallet:
          allOf:
          - $ref: "#/components/schemas/PrincipalWallet"
          nullable: true
      required:
      - buyer_enabled
      - email
      - id
      - principal_type
      - provisioning_status
      - seller_enabled
      - status
      - wallet
    PrincipalWallet:
      properties:
        address:
          type: string
        network:
          type: string
      required:
      - address
      - network
    MeApiKey:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 6
        created_by:
          id: 1
          display_name: display_name
          email: email
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
        last_used_at:
          format: date-time
          type: string
          nullable: true
        created_by:
          $ref: "#/components/schemas/MeApiKeyCreator"
      required:
      - created_at
      - id
    MeApiKeyCreator:
      description: |
        The user who minted this API key, surfaced for audit rendering only.
        `null` if that user has since left the Organization. NEVER use for
        authorization.
      example:
        id: 1
        display_name: display_name
        email: email
      properties:
        id:
          type: integer
        email:
          format: email
          type: string
        display_name:
          type: string
          nullable: true
      required:
      - email
      - id
      nullable: true
    CreateApiKeyRequest:
      example:
        name: name
      properties:
        name:
          description: A friendly name for the API key
          type: string
    ApiKey:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        revoked_at: 2000-01-23T04:56:07.000+00:00
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          description: First 16 characters of the key for identification
          type: string
        last_used_at:
          format: date-time
          type: string
          nullable: true
        revoked_at:
          format: date-time
          type: string
          nullable: true
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
    ApiKeyCreated:
      example:
        key_prefix: key_prefix
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        raw_key: raw_key
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
        raw_key:
          description: Full API key (shown only once at creation)
          type: string
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - key_prefix
      - raw_key
    ApiKeyListResponse:
      example:
        pagination:
          per_page: 1
          total: 5
          page: 6
          total_pages: 5
        data:
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
        - last_used_at: 2000-01-23T04:56:07.000+00:00
          revoked_at: 2000-01-23T04:56:07.000+00:00
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
      properties:
        data:
          items:
            $ref: "#/components/schemas/ApiKey"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    ApiKeyCreatedResponse:
      example:
        data:
          key_prefix: key_prefix
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          raw_key: raw_key
      properties:
        data:
          $ref: "#/components/schemas/ApiKeyCreated"
      required:
      - data
    Payment:
      example:
        amount: 6
        resource_url: resource_url
        resource_host: resource_host
        tx_hash: tx_hash
        recipient_address: recipient_address
        settlement_latency_ms: 1
        api_key_name: api_key_name
        network: network
        amount_formatted: amount_formatted
        currency: currency
        id: 0
        settled_at: 2000-01-23T04:56:07.000+00:00
        payer_address: payer_address
      properties:
        id:
          type: integer
        tx_hash:
          type: string
        payer_address:
          type: string
        recipient_address:
          type: string
        amount:
          description: "Amount in atomic units (1 USDC = 1,000,000)"
          type: integer
        amount_formatted:
          description: Human-readable amount (e.g. "1.00 USDC")
          type: string
        currency:
          type: string
        network:
          description: CAIP-2 chain identifier
          type: string
        resource_url:
          type: string
          nullable: true
        resource_host:
          type: string
          nullable: true
        settlement_latency_ms:
          type: integer
          nullable: true
        settled_at:
          format: date-time
          type: string
        api_key_name:
          type: string
      required:
      - amount
      - amount_formatted
      - api_key_name
      - currency
      - id
      - network
      - payer_address
      - recipient_address
      - settled_at
      - tx_hash
    PaymentListResponse:
      example:
        pagination:
          per_page: 1
          total: 5
          page: 6
          total_pages: 5
        data:
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 1
          api_key_name: api_key_name
          network: network
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
        - amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 1
          api_key_name: api_key_name
          network: network
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          items:
            $ref: "#/components/schemas/Payment"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    PaymentResponse:
      example:
        data:
          amount: 6
          resource_url: resource_url
          resource_host: resource_host
          tx_hash: tx_hash
          recipient_address: recipient_address
          settlement_latency_ms: 1
          api_key_name: api_key_name
          network: network
          amount_formatted: amount_formatted
          currency: currency
          id: 0
          settled_at: 2000-01-23T04:56:07.000+00:00
          payer_address: payer_address
      properties:
        data:
          $ref: "#/components/schemas/Payment"
      required:
      - data
    Purchase:
      example:
        amount_usd: amount_usd
        tx_hash: tx_hash
        recipient_address: recipient_address
        reject_reason: reject_reason
        failure_reason: failure_reason
        network: network
        search_id: search_id
        artifact: ""
        protocol: mpp
        context: context
        signed_at: 2000-01-23T04:56:07.000+00:00
        idempotency_key: idempotency_key
        id: 0
        attribution_status: attributed
        settled_at: 2000-01-23T04:56:07.000+00:00
        status: signed
      properties:
        id:
          type: integer
        status:
          enum:
          - signed
          - settled
          - locked
          - rejected
          - declined
          - expired
          - reverted
          type: string
        amount_usd:
          description: Exact decimal USD amount with up to six fractional digits.
            Settled rows report the amount that moved; pending and failed rows report
            their authorization amount.
          type: string
        recipient_address:
          type: string
        network:
          type: string
        protocol:
          enum:
          - mpp
          - x402
          - null
          nullable: true
          type: string
          nullable: true
        context:
          nullable: true
          type: string
          nullable: true
        search_id:
          description: "Search trace ID used to attribute this purchase, when available."
          nullable: true
          type: string
          nullable: true
        attribution_status:
          enum:
          - attributed
          - unattributed
          type: string
        tx_hash:
          nullable: true
          type: string
          nullable: true
        reject_reason:
          nullable: true
          type: string
          nullable: true
        failure_reason:
          nullable: true
          type: string
          nullable: true
        idempotency_key:
          nullable: true
          type: string
          nullable: true
        signed_at:
          format: date-time
          type: string
        settled_at:
          format: date-time
          nullable: true
          type: string
          nullable: true
        artifact:
          allOf:
          - $ref: "#/components/schemas/PurchaseArtifact"
          nullable: true
      required:
      - amount_usd
      - artifact
      - attribution_status
      - context
      - failure_reason
      - id
      - idempotency_key
      - network
      - protocol
      - recipient_address
      - reject_reason
      - search_id
      - settled_at
      - signed_at
      - status
      - tx_hash
    PurchaseArtifact:
      properties:
        id:
          type: integer
        merchant_url:
          format: uri
          type: string
        bytes:
          minimum: 0
          type: integer
        mime:
          nullable: true
          type: string
          nullable: true
      required:
      - bytes
      - id
      - merchant_url
      - mime
    PurchaseListResponse:
      example:
        pagination:
          per_page: 1
          total: 5
          page: 6
          total_pages: 5
        data:
        - amount_usd: amount_usd
          tx_hash: tx_hash
          recipient_address: recipient_address
          reject_reason: reject_reason
          failure_reason: failure_reason
          network: network
          search_id: search_id
          artifact: ""
          protocol: mpp
          context: context
          signed_at: 2000-01-23T04:56:07.000+00:00
          idempotency_key: idempotency_key
          id: 0
          attribution_status: attributed
          settled_at: 2000-01-23T04:56:07.000+00:00
          status: signed
        - amount_usd: amount_usd
          tx_hash: tx_hash
          recipient_address: recipient_address
          reject_reason: reject_reason
          failure_reason: failure_reason
          network: network
          search_id: search_id
          artifact: ""
          protocol: mpp
          context: context
          signed_at: 2000-01-23T04:56:07.000+00:00
          idempotency_key: idempotency_key
          id: 0
          attribution_status: attributed
          settled_at: 2000-01-23T04:56:07.000+00:00
          status: signed
      properties:
        data:
          items:
            $ref: "#/components/schemas/Purchase"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
      - data
      - pagination
    PurchaseResponse:
      example:
        data:
          amount_usd: amount_usd
          tx_hash: tx_hash
          recipient_address: recipient_address
          reject_reason: reject_reason
          failure_reason: failure_reason
          network: network
          search_id: search_id
          artifact: ""
          protocol: mpp
          context: context
          signed_at: 2000-01-23T04:56:07.000+00:00
          idempotency_key: idempotency_key
          id: 0
          attribution_status: attributed
          settled_at: 2000-01-23T04:56:07.000+00:00
          status: signed
      properties:
        data:
          $ref: "#/components/schemas/Purchase"
      required:
      - data
    BalanceResponse:
      description: |
        Buyer's wallet snapshot. Note: unlike `/me` / `/payments` / `/api_keys`,
        this endpoint does NOT use a `data:` envelope — the response object
        is the snapshot directly.
      example:
        promo:
          expires_at: 2000-01-23T04:56:07.000+00:00
          scope: weft-search
          balance_usd: "0.00"
        policy_used_today_usd: "0.30"
        wallet:
          address: address
          provider: crossmint
          balance_tempo_usd: "2.03"
          total_usd: "12.34"
          balance_usdc: "12.34"
          network: network
        spent_today_usd: "0.0005"
        spent_week_usd: "3.10"
        policy_used_week_usd: "3.30"
        policy:
          weekly_limit_usd: "50.00"
          daily_limit_usd: "10.00"
          max_tx_usd: "1.00"
      properties:
        promo:
          $ref: "#/components/schemas/PromoBalance"
        wallet:
          $ref: "#/components/schemas/Wallet"
        spent_today_usd:
          description: "USD spent in the current calendar day (UTC). Exact to the\
            \ micro-dollar so sub-cent micro-payments survive (\"0.0005\", \"0.42\"\
            ), never narrower than two decimals; a zero total renders as \"0.00\"."
          example: "0.0005"
          type: string
        spent_week_usd:
          description: "USD spent in the current calendar week (UTC, Monday start).\
            \ Exact to the micro-dollar (\"0.0005\", \"3.10\"), never narrower than\
            \ two decimals; a zero total renders as \"0.00\"."
          example: "3.10"
          type: string
        policy_used_today_usd:
          description: "USD currently counted against the daily spending limit: pending\
            \ authorizations at their maximum plus settled payments at the amount\
            \ that moved. Exact to the micro-dollar; zero renders as \"0.00\"."
          example: "0.30"
          type: string
        policy_used_week_usd:
          description: "USD currently counted against the weekly spending limit: pending\
            \ authorizations at their maximum plus settled payments at the amount\
            \ that moved. Exact to the micro-dollar; zero renders as \"0.00\"."
          example: "3.30"
          type: string
        policy:
          $ref: "#/components/schemas/SpendingPolicy"
      required:
      - policy
      - policy_used_today_usd
      - policy_used_week_usd
      - promo
      - spent_today_usd
      - spent_week_usd
      - wallet
    PromoBalance:
      description: |
        Freemium promo credit. v1 returns zero values; once the promo
        ledger ships (deferred from spec 10), real balances appear here
        without a shape change.
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        scope: weft-search
        balance_usd: "0.00"
      properties:
        balance_usd:
          example: "0.00"
          type: string
        scope:
          description: Where the promo can be spent.
          example: weft-search
          type: string
        expires_at:
          format: date-time
          type: string
          nullable: true
      required:
      - balance_usd
      - expires_at
      - scope
    Wallet:
      example:
        address: address
        provider: crossmint
        balance_tempo_usd: "2.03"
        total_usd: "12.34"
        balance_usdc: "12.34"
        network: network
      properties:
        provider:
          description: Crossmint is the only buyer-wallet provider.
          enum:
          - crossmint
          type: string
        address:
          description: Base smart-wallet address. Null only when Crossmint is unavailable.
          type: string
          nullable: true
        balance_usdc:
          description: |
            Live Base USDC balance, exact to the micro-dollar (up to 6 decimals, minimum 2). Null when Crossmint is unreachable; consumers must not interpret null as zero.
          example: "12.34"
          type: string
          nullable: true
        balance_tempo_usd:
          description: |
            Live aggregate Tempo dollar-token balance, exact to the micro-dollar (up to 6 decimals, minimum 2). Null when Crossmint is unreachable; consumers must not interpret null as zero.
          example: "2.03"
          type: string
          nullable: true
        total_usd:
          description: |
            Single aggregated USD balance across Base USDC and Tempo dollar tokens, exact to the micro-dollar. Null when either pocket is unreachable, because the surface never claims zero for a component it could not read.
          example: "12.34"
          type: string
          nullable: true
        network:
          description: |
            Selected Crossmint environment (`base_sepolia` or `base_mainnet`).
          type: string
          nullable: true
      required:
      - address
      - balance_tempo_usd
      - balance_usdc
      - network
      - provider
      - total_usd
    SpendingPolicy:
      example:
        weekly_limit_usd: "50.00"
        daily_limit_usd: "10.00"
        max_tx_usd: "1.00"
      properties:
        max_tx_usd:
          description: Maximum USD per single transaction.
          example: "1.00"
          type: string
        daily_limit_usd:
          description: Maximum USD spent in a 24-hour window.
          example: "10.00"
          type: string
        weekly_limit_usd:
          description: Maximum USD spent in a 7-day window.
          example: "50.00"
          type: string
      required:
      - daily_limit_usd
      - max_tx_usd
      - weekly_limit_usd
    SearchRequest:
      additionalProperties: false
      example:
        query: send email from an agent
        max_results: 4
        filters:
          protocol:
            in:
            - x402
            - x402
            eq: x402
          execution_mode:
            in:
            - sync
            - sync
            eq: sync
          method:
            in:
            - GET
            - GET
            eq: GET
          price:
            range_lte: range_lte
            gte: gte
            lte: lte
            eq: eq
            range_gte: range_gte
          price_atomic:
            range_lte: 0
            gte: 0
            lte: 0
            eq: 0
            range_gte: 0
          weft_fetch_compatible: true
          type:
            in:
            - api
            - api
            eq: api
          category:
            in:
            - in
            - in
            eq: eq
          include_unknown_prices: false
      properties:
        query:
          description: Free-text query. Required and non-empty.
          example: send email from an agent
          maxLength: 2000
          minLength: 1
          type: string
        max_results:
          default: 10
          description: "Max number of hits to return. Invalid values are rejected,\
            \ not clamped."
          maximum: 50
          minimum: 1
          type: integer
        filters:
          $ref: "#/components/schemas/SearchFilterSpec"
      required:
      - query
    SearchFilterSpec:
      additionalProperties: false
      description: |
        Structured hard constraints on the query — the weft-search-platform
        `FilterSpec` v1 typed subset, vendored verbatim (D1 contract). Every
        field is optional; an empty object is the no-filter query. Set fields
        are ANDed. Each sub-filter takes exactly one operator; unknown filter
        keys and unknown operators are rejected (`422 INVALID_FILTERS`).

        `price` (USD decimal strings) and `price_atomic` (integer micro-USD) are
        two representations of ONE price constraint — the reasoning form and the
        settlement form. They are MUTUALLY EXCLUSIVE: setting both is
        `422 INVALID_FILTERS`. A JSON number in `price` is rejected (only decimal
        strings), so `{lte: 5}` can never be mis-read as 5 micro-dollars.

        The canonical enum value sets are pinned to the platform spec by the CI
        drift gate (`docs/contracts/search-platform.openapi.yaml`).
      example:
        protocol:
          in:
          - x402
          - x402
          eq: x402
        execution_mode:
          in:
          - sync
          - sync
          eq: sync
        method:
          in:
          - GET
          - GET
          eq: GET
        price:
          range_lte: range_lte
          gte: gte
          lte: lte
          eq: eq
          range_gte: range_gte
        price_atomic:
          range_lte: 0
          gte: 0
          lte: 0
          eq: 0
          range_gte: 0
        weft_fetch_compatible: true
        type:
          in:
          - api
          - api
          eq: api
        category:
          in:
          - in
          - in
          eq: eq
        include_unknown_prices: false
      properties:
        price:
          $ref: "#/components/schemas/SearchPriceUsdFilter"
        price_atomic:
          $ref: "#/components/schemas/SearchPriceAtomicFilter"
        type:
          $ref: "#/components/schemas/SearchResourceTypeFilter"
        protocol:
          $ref: "#/components/schemas/SearchProtocolFilter"
        category:
          $ref: "#/components/schemas/SearchStringSetFilter"
        method:
          $ref: "#/components/schemas/SearchMethodFilter"
        execution_mode:
          $ref: "#/components/schemas/SearchExecutionModeFilter"
        weft_fetch_compatible:
          description: True requires at least one access method whose paid request
            is supported by the current Weft fetch runtime. For async operations this
            can mean submission-only coverage followed by the provider workflow.
          type: boolean
        include_unknown_prices:
          default: false
          description: "With a price constraint, also retain dynamic and unknown prices."
          type: boolean
    SearchPriceUsdFilter:
      additionalProperties: false
      description: |
        Price constraint in USD, as decimal STRINGS (the reasoning form). Set
        exactly one operator: a scalar (`lte` / `gte` / `eq`) OR a range
        (`range_gte` + `range_lte` together, lower ≤ upper). Each value is a
        string matching `^\d+(\.\d{1,6})?$` (≤ 6 decimals, ≥ 0); a JSON number is
        rejected. Mutually exclusive with `price_atomic`. An unpriced resource is
        excluded from any price-filtered query.
      example:
        range_lte: range_lte
        gte: gte
        lte: lte
        eq: eq
        range_gte: range_gte
      properties:
        lte:
          description: "Price ≤ this many USD (inclusive ceiling), e.g. \"0.009\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        gte:
          description: "Price ≥ this many USD (inclusive floor), e.g. \"0.001\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        eq:
          description: "Price exactly this many USD, e.g. \"1.5\"."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        range_gte:
          description: "Range lower bound (inclusive), USD. Set with range_lte."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
        range_lte:
          description: "Range upper bound (inclusive), USD. Set with range_gte."
          pattern: "^\\d+(\\.\\d{1,6})?$"
          type: string
    SearchPriceAtomicFilter:
      additionalProperties: false
      description: |
        The same price constraint in integer micro-USD (1 USDC = 1_000_000
        micro-USD) — the settlement form. Set exactly one operator: a scalar
        (`lte` / `gte` / `eq`) OR a range (`range_gte` + `range_lte` together,
        lower ≤ upper). Mutually exclusive with `price`. An unpriced resource is
        excluded from any price-filtered query.
      example:
        range_lte: 0
        gte: 0
        lte: 0
        eq: 0
        range_gte: 0
      properties:
        lte:
          description: Price ≤ this many micro-USD (inclusive ceiling).
          minimum: 0
          type: integer
        gte:
          description: Price ≥ this many micro-USD (inclusive floor).
          minimum: 0
          type: integer
        eq:
          description: Price exactly this many micro-USD.
          minimum: 0
          type: integer
        range_gte:
          description: "Range lower bound (inclusive), micro-USD. Set with range_lte."
          minimum: 0
          type: integer
        range_lte:
          description: "Range upper bound (inclusive), micro-USD. Set with range_gte."
          minimum: 0
          type: integer
    SearchResourceTypeFilter:
      additionalProperties: false
      description: Resource-type constraint. Set exactly one of `eq` / `in`.
      example:
        in:
        - api
        - api
        eq: api
      properties:
        eq:
          description: Resource type is exactly this value.
          enum:
          - api
          - agent
          - mcp_tool
          - webpage
          - feed
          - document
          - dataset
          type: string
        in:
          description: Resource type is one of these values.
          items:
            enum:
            - api
            - agent
            - mcp_tool
            - webpage
            - feed
            - document
            - dataset
            type: string
          minItems: 1
          type: array
    SearchProtocolFilter:
      additionalProperties: false
      description: Payment-protocol constraint. Set exactly one of `eq` / `in`.
      example:
        in:
        - x402
        - x402
        eq: x402
      properties:
        eq:
          description: Primary protocol is exactly this value.
          enum:
          - x402
          - a2a
          - mpp
          - erc_8004
          type: string
        in:
          description: Primary protocol is one of these values.
          items:
            enum:
            - x402
            - a2a
            - mpp
            - erc_8004
            type: string
          minItems: 1
          type: array
    SearchStringSetFilter:
      additionalProperties: false
      example:
        in:
        - in
        - in
        eq: eq
      properties:
        eq:
          type: string
        in:
          items:
            type: string
          minItems: 1
          type: array
    SearchMethodFilter:
      additionalProperties: false
      example:
        in:
        - GET
        - GET
        eq: GET
      properties:
        eq:
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - HEAD
          - OPTIONS
          type: string
        in:
          items:
            enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
            - HEAD
            - OPTIONS
            type: string
          minItems: 1
          type: array
    SearchExecutionModeFilter:
      additionalProperties: false
      example:
        in:
        - sync
        - sync
        eq: sync
      properties:
        eq:
          enum:
          - sync
          - async
          - stream
          type: string
        in:
          items:
            enum:
            - sync
            - async
            - stream
            type: string
          minItems: 1
          type: array
    SearchResponse:
      description: The weft-search-platform `POST /v1/search` response envelope.
      example:
        reason: below_relevance_floor
        query_trace_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        query: query
        warnings:
        - code: code
          context: "{}"
          cause: cause
          message: message
        - code: code
          context: "{}"
          cause: cause
          message: message
        suggestion: suggestion
        format: json
        as_of: 2000-01-23T04:56:07.000+00:00
        served_from: live
        applied_filters: ""
        match_quality: none
        stale: true
        payment_note: payment_note
        candidates_considered: 0
        markdown: markdown
        decomposition_source: CALLER
        result_count: 0
        embedder_model: embedder_model
        results:
        - score: 0.20271230230023218
          capability:
            capability_id: capability_id
            capability_type: capability_type
          endpoints:
          - primary_protocol: primary_protocol
            settlements: 9
            execution:
              mode: sync
            operated_by_id: operated_by_id
            resource_type: resource_type
            endpoint_id: endpoint_id
            source:
              snapshot_version: 7
              catalog: curated_marketplace
              captured_at: 2000-01-23T04:56:07.000+00:00
            contract_url: https://openapi-generator.tech
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            operator_type: first_party
            latency_p50_ms: 3
            call:
              example_request: "{}"
              method: method
              input_schema: "{}"
              example_response: ""
            output: "{}"
            docs:
              website: https://openapi-generator.tech
              llms_txt: https://openapi-generator.tech
              api: https://openapi-generator.tech
              homepage: https://openapi-generator.tech
            access_methods:
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            price:
              last_observed_at: 2000-01-23T04:56:07.000+00:00
              atomic: 1
              live_verified: true
              indexed_usd: indexed_usd
              source: probe
            service:
              name: name
              id: id
            callability:
              missing:
              - missing
              - missing
              state: complete
            last_verified_at: 2000-01-23T04:56:07.000+00:00
            payment:
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            output_schema: "{}"
            operation:
              name: name
              description: description
              id: id
            compatibility: "{}"
          - primary_protocol: primary_protocol
            settlements: 9
            execution:
              mode: sync
            operated_by_id: operated_by_id
            resource_type: resource_type
            endpoint_id: endpoint_id
            source:
              snapshot_version: 7
              catalog: curated_marketplace
              captured_at: 2000-01-23T04:56:07.000+00:00
            contract_url: https://openapi-generator.tech
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            operator_type: first_party
            latency_p50_ms: 3
            call:
              example_request: "{}"
              method: method
              input_schema: "{}"
              example_response: ""
            output: "{}"
            docs:
              website: https://openapi-generator.tech
              llms_txt: https://openapi-generator.tech
              api: https://openapi-generator.tech
              homepage: https://openapi-generator.tech
            access_methods:
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            price:
              last_observed_at: 2000-01-23T04:56:07.000+00:00
              atomic: 1
              live_verified: true
              indexed_usd: indexed_usd
              source: probe
            service:
              name: name
              id: id
            callability:
              missing:
              - missing
              - missing
              state: complete
            last_verified_at: 2000-01-23T04:56:07.000+00:00
            payment:
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            output_schema: "{}"
            operation:
              name: name
              description: description
              id: id
            compatibility: "{}"
          provider:
            origin_domains:
            - origin_domains
            - origin_domains
            provider_id: provider_id
            display_name: display_name
        - score: 0.20271230230023218
          capability:
            capability_id: capability_id
            capability_type: capability_type
          endpoints:
          - primary_protocol: primary_protocol
            settlements: 9
            execution:
              mode: sync
            operated_by_id: operated_by_id
            resource_type: resource_type
            endpoint_id: endpoint_id
            source:
              snapshot_version: 7
              catalog: curated_marketplace
              captured_at: 2000-01-23T04:56:07.000+00:00
            contract_url: https://openapi-generator.tech
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            operator_type: first_party
            latency_p50_ms: 3
            call:
              example_request: "{}"
              method: method
              input_schema: "{}"
              example_response: ""
            output: "{}"
            docs:
              website: https://openapi-generator.tech
              llms_txt: https://openapi-generator.tech
              api: https://openapi-generator.tech
              homepage: https://openapi-generator.tech
            access_methods:
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            - weft_fetch:
                reason: reason
                contract_version: 2
                state: supported
              protocol: x402
              scheme: scheme
              terms: "{}"
              price: "{}"
              merchant: "{}"
              asset: asset
              access_method_id: access_method_id
              network: network
              asset_decimals: 5
              status: listed
            price:
              last_observed_at: 2000-01-23T04:56:07.000+00:00
              atomic: 1
              live_verified: true
              indexed_usd: indexed_usd
              source: probe
            service:
              name: name
              id: id
            callability:
              missing:
              - missing
              - missing
              state: complete
            last_verified_at: 2000-01-23T04:56:07.000+00:00
            payment:
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            - protocol: protocol
              amount: amount
              scheme: scheme
              max_timeout_seconds: 5
              asset: asset
              pay_to: pay_to
              network: network
              facilitator: facilitator
            output_schema: "{}"
            operation:
              name: name
              description: description
              id: id
            compatibility: "{}"
          - primary_protocol: primary_protocol
            settlements: 9
            execution:
              mode: sync
            operated_by_id: operated_by_id
            resource_type: resource_type
            endpoint_id: endpoint_id
            source:
              snapshot_version: 7
              catalog: curated_marketplace
              captured_at: 2000-01-23T04:56:07.000+00:00
            contract_url: https://openapi-generator.tech
            settled_via_facilitator_id: settled_via_facilitator_id
            url: url
            operator_type: first_party
            latency_p50_ms: 3
            call:
              example_request: "{}"
              method: method
              input_schema: "{}"
              example_response: ""
            output: "{}"
            docs:
              website: https://openapi-generator.tech
[...]
