# Source of truth for the Weft public API (see docs/api-standards.md).
#
# Edit this file first. docs/api-reference.md is GENERATED from it by
# `pnpm run docs:generate` and gated by the `docs-drift` CI job.
# test/docs/api_docs_sync_test.rb asserts every operation declared here is a
# real Rails route and is rendered in that reference.
openapi: 3.1.0
info:
  title: Weft API
  version: 0.25.0
  description: |
    The Weft API powers the `weft` CLI, the hosted MCP server
    (`weft.network/mcp`), and third-party applications that discover and pay
    for resources on Weft. The buyer runtime covers six concerns:

      1. Account creation and recovery (`/api/v1/auth/*`)
      2. Credential identity (`/api/v1/me`)
      3. Wallet visibility (`/api/v1/balance`)
      4. Discovery (`/api/v1/search`)
      5. Paid execution (`/api/v1/fetch`)
      6. Purchase history (`/api/v1/purchases`)

    Buyer runtime calls require a dashboard-created `wk_*` account key, an
    OAuth access token with the relevant scope, or a claimed `wbt_*` bearer on
    its fixed allowlist. The organization-scoped API key and payment operations
    in this document are seller administration surfaces and require an
    `ax_live_*` resource key. These credential types are not interchangeable.

    This document is a deliberate subset of the `/api/v1` surface, not an
    inventory of it. The seller-side management endpoints — `/api/v1/agents`,
    `/api/v1/webhook_endpoints`, and `/api/v1/analytics` — are reachable with
    an `ax_live_*` key but are intentionally left undocumented: they are
    dashboard-facing and not part of the published client contract. Nothing
    outside this document is a supported contract, and the response-validation
    gate in `config/environments/test.rb` enforces only what is declared here.

    Before claim, a `wbt_*` bearer is temporary and permits only search plus its
    own status/cancel operations for 30 minutes. Human approval binds it to the
    User and promotes the same secret to durable identity, search, balance,
    fetch, purchase-history, status, and revocation capabilities. It remains
    valid until revoked. Seller, organization, API-key administration,
    dashboard-session, transfer, withdrawal, and MCP surfaces always refuse it.

    Bootstrap lifecycle successes follow the API-standard `{ "data": ... }`
    envelope. All errors share the envelope defined by `ErrorResponse`, except the
    buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke
    envelopes carrying additional context — see `SearchErrorResponse` and
    `FetchErrorResponse`.
tags:
  - name: Agent Bootstrap
    description: Temporary search-only access followed by human promotion of the same bearer.
  - name: Auth
    description: Account creation and authentication flows.
  - name: Account
    description: Current user account information.
  - name: API Keys
    description: |
      Manage seller organization/resource keys (`ax_live_*`). Buyer runtime
      keys (`wk_*`) are created and rotated in the buyer dashboard.
  - name: Balance
    description: |
      Read-only snapshot of the buyer's wallet, spending policy, and
      current-window spend (today / this week).
  - name: Search
    description: |
      Semantic search across the Weft index of paid agent resources.
      Returns A2A-shaped AgentCards with pricing, skills, ranking, and
      endpoints.
  - name: Fetch
    description: |
      The universal x402/MPP fetch proxy. POST any URL the agent wants to
      reach, with a `max_cost_usd` ceiling; Weft handles the `402 Payment
      Required` challenge, authorizes payment from the buyer's wallet on
      the selected rail, replays the request, and streams the upstream
      artifact back base64-encoded. Errors always carry the buyer's current
      policy + balance + dashboard URL so the caller can surface "what
      changed?" without a second round-trip.
  - name: Payments
    description: Seller Organization payment receipts.
  - name: Purchases
    description: Buyer signing and settlement history.
  - name: Resources
    description: |
      Public, unauthenticated ghost-resource enrollment. Lets an agent
      self-register so its human controller can later claim it from the
      dashboard.
  - name: Documentation
    description: This document, served for tooling that reads the spec directly.
servers:
  - url: https://weft.network
    description: Production
paths:
  /docs/openapi.yaml:
    get:
      tags:
        - Documentation
      summary: Fetch this OpenAPI document
      operationId: getOpenApiDocument
      responses:
        "200":
          description: OpenAPI 3.1 document (YAML)
          content:
            application/yaml:
              schema:
                type: string
  /api/v1/account_bootstraps:
    post:
      summary: Create a temporary agent bootstrap
      description: |
        Creates a 30-minute, search-only bootstrap and emails a separate claim
        link to the supplied address. Human approval binds the same `wbt_*`
        bearer to the account and promotes it to the fixed durable capability
        set. The response is deliberately identical for new and existing
        account emails and never contains the claim token.
        Rate limits apply per IP and normalized email; request bodies over 4 KiB
        are rejected before parsing. The bootstrap row and one-time credentials
        are committed only after the mail relay accepts the
        claim email. A retryable 503 leaves no bootstrap row behind.
      operationId: createAccountBootstrap
      tags: [Agent Bootstrap]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBootstrapRequest"
      responses:
        "201":
          description: Bootstrap created after the claim email is accepted for delivery
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapCreatedResponse"
        "503":
          description: Claim email delivery is temporarily unavailable; no bootstrap was created and the request may be retried
          headers:
            Retry-After:
              description: Suggested delay before retrying, in seconds.
              schema:
                type: string
                pattern: '^[1-9][0-9]*$'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds the 4 KiB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Invalid bootstrap context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitResponse"
  /api/v1/account_bootstraps/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^boot_[A-Za-z0-9_-]+$'
    get:
      summary: Read bootstrap lifecycle status
      operationId: getAccountBootstrap
      tags: [Agent Bootstrap]
      security:
        - bootstrapAuth: []
      responses:
        "200":
          description: Current lifecycle and polling guidance while the credential can authenticate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapStatusResponse"
        "401":
          description: Unknown ID or non-matching bootstrap credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Cancel or revoke a bootstrap credential
      description: |
        A pending bootstrap becomes rejected. A claimed promoted credential
        becomes revoked and fails every subsequent request immediately.
      operationId: cancelAccountBootstrap
      tags: [Agent Bootstrap]
      security:
        - bootstrapAuth: []
      responses:
        "200":
          description: Rejected or revoked terminal lifecycle status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBootstrapStatusResponse"
        "401":
          description: Unknown ID or non-matching bootstrap credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/resources/enroll:
    post:
      summary: Self-enroll a ghost resource (public, no auth)
      description: |
        Lets an unauthenticated agent (or its operator) self-enroll a
        Resource as a "ghost" (no owning provider). The server generates the
        `slug` and a single-use `claim_token`; the response also carries a
        `claim_url` the agent hands to its human controller to claim the
        resource from the dashboard.

        Client-supplied `slug` and `category` are silently ignored: slugs are
        server-generated from `name` (so callers cannot squat on reserved
        names), and `category` is a post-claim concern set by a real human.

        Rate-limited to 10 enrollments/hour/IP.
      operationId: enrollResource
      tags: [Resources]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceEnrollmentRequest"
      responses:
        "201":
          description: Ghost resource created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceEnrollmentResponse"
        "422":
          description: Validation error (missing/blank fields, or unknown `kind`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded (10 enrollments/hour/IP)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/sign_up:
    post:
      summary: Create an account
      operationId: signUp
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded (20 accounts/hour/IP)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/confirm:
    post:
      summary: Confirm an account
      operationId: confirmAccount
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmRequest"
      responses:
        "200":
          description: Account confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "422":
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/resend-confirmation:
    post:
      summary: Resend confirmation email
      operationId: resendConfirmation
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationRequest"
      responses:
        "200":
          description: Confirmation sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /api/v1/auth/sign_in:
    post:
      summary: Sign in with email and password
      operationId: signIn
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
      responses:
        "200":
          description: Signed in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/password/reset:
    post:
      summary: Request password reset
      operationId: requestPasswordReset
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "200":
          description: Reset email sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
  /api/v1/auth/password/update:
    post:
      summary: Update password with reset token
      operationId: updatePassword
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
      responses:
        "200":
          description: Password updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "422":
          description: Invalid or expired reset token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me:
    get:
      summary: Get the current credential principal
      description: |
        Returns the seller Organization represented by an `ax_live_*` resource
        key, or the buyer User represented by a `wk_*` account key, OAuth access
        token, or claimed `wbt_*` bearer. Branch on `data.principal_type`.
      operationId: getMe
      tags: [Account]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current Organization or User principal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/api_keys:
    get:
      summary: List API keys
      description: List `ax_live_*` resource keys for the seller Organization.
      operationId: listApiKeys
      tags: [API Keys]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create an API key
      description: |
        Create an `ax_live_*` resource key for the authenticated seller
        Organization. Buyer `wk_*` keys are created in the buyer dashboard.
      operationId: createApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: API key created (includes raw key, shown only once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyCreatedResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/api_keys/{id}:
    delete:
      summary: Revoke an API key
      operationId: revokeApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: API key ID
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: API key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/balance:
    get:
      summary: Get wallet, spending policy, and current-window spend
      description: |
        Read-only snapshot for the buyer behind the bearer token. The
        response always includes a `promo` block — values are zero in v1
        and fill in once the freemium promo ledger ships, without a
        shape change. The Base USDC balance is fetched
        server-side through Crossmint. If Crossmint is unreachable, the
        balance fields are `null`; consumers must not interpret that as zero.

        Account-scoped: the bearer must be a buyer-scoped API key, an OAuth
        access token carrying `balance`, or a claimed `wbt_*` bearer.
      operationId: getBalance
      tags: [Balance]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Wallet + policy + spend snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
        "401":
          description: Unauthorized — missing or non-buyer-scoped API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: |
            The OAuth access token authenticated but lacks the `balance`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="balance"`
            header. `wk_` API keys are unscoped and never see this.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
  /api/v1/search:
    post:
      summary: Search the Weft index
      description: |
        Semantic search over the Weft index of paid agent resources. The
        request body is the weft-search-platform `/v1/search` contract:
        a free-text `query`, optional `max_results`, and optional structured
        `filters` (price / price_atomic / type / protocol — the canonical
        FilterSpec v1 vocabulary, vendored verbatim from the platform). Price is
        a dual representation of one constraint: `price` in USD decimal strings
        (the reasoning form) XOR `price_atomic` in integer micro-USD (the
        settlement form) — mutually exclusive, set at most one.

        Account-scoped: the bearer token must be a buyer-scoped API key, an
        OAuth token carrying `search`, or a pending or claimed `wbt_*` bootstrap
        bearer. Pending bootstrap access uses an anonymous bootstrap identity;
        after claim, the promoted bearer uses its bound User. Rejection,
        cancellation, expiry, and revocation end bootstrap search. Bootstrap
        search is limited to 60 requests per credential and 120 per IP each
        hour before native credential promotion.

        Response negotiation: `Accept: application/json` (default) returns
        the structured envelope; `Accept: text/markdown` returns a rendered
        Markdown digest of the same results — useful for piping into a chat
        UI or LLM prompt.
      operationId: search
      tags: [Search]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/markdown:
              schema:
                type: string
                description: Rendered Markdown digest of the same results.
        "401":
          description: Unauthorized — missing or non-buyer-scoped API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: |
            The OAuth access token authenticated but lacks the `search`
            scope (RFC 6750 `insufficient_scope`). Carries a
            `WWW-Authenticate: Bearer error="insufficient_scope", scope="search"`
            header. `wk_` API keys are unscoped and never see this.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
        "406":
          description: The requested response format is not JSON or Markdown.
        "422":
          description: |
            Invalid request — empty/missing `query`, out-of-range
            `max_results`, an unknown top-level parameter, or invalid
            `filters` (unknown filter key/operator, bad enum value, or a
            sub-filter without exactly one operator). See the `error` code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
        "429":
          description: Bootstrap search rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitResponse"
        "502":
          description: Search service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchErrorResponse"
  /api/v1/fetch:
    post:
      summary: Pay-and-fetch any URL (x402/MPP proxy)
      description: |
        Universal x402/MPP fetch proxy. The caller provides a target `url`,
        a hard `max_cost_usd` ceiling, and optional `method` / `body` /
        `headers`. Weft:

          1. Issues the request.
          2. On `402 Payment Required`, selects a supported x402 or MPP challenge.
          3. Compares the asking price to `max_cost_usd` and the
             buyer's policy (`max_tx_usd`, daily/weekly limits).
          4. If an eligible mainnet MPP challenge finds its Tempo token short,
             creates or adopts a buyer-owned Base-to-Tempo refill and returns
             `409 FUNDING_PENDING` with `details.reason=funding_active`. If an
             overlapping payment invalidates the balance observation before a
             bridge is created, the same retryable response carries
             `details.reason=balance_changed`. The caller retries the identical
             fetch after `details.retry_after_seconds`; that later request
             obtains a fresh challenge and reruns rail selection and all payment
             controls.
          5. Authorizes payment from the buyer's wallet on the selected rail.
          6. Replays the request with the protocol-specific payment credential.
          7. Streams the upstream artifact back, base64-encoded under
              `body_base64`, with `paid_usd`, `held_usd`, `payment_status`,
              `tx_hash`, and `protocol`. `paid_usd`
             is "0.00" until the charge is CONFIRMED settled — a signed-but-
             unsettled hold (the common case for x402, which settles
             asynchronously) reports its amount in `held_usd` instead, never
             in `paid_usd`.

        Errors are structured with a stable `error` code, and each error
        response carries the buyer's `policy`, `balance`, and a
        `dashboard_url` so a CLI can render an actionable message without
        a second round-trip.

        Account-scoped: the bearer must be a buyer-scoped API key, an OAuth
        access token carrying `fetch`, or a claimed `wbt_*` bearer.

        **Forwarded headers:** the caller's `headers` are passed through
        to the upstream, except a denylist of hop-by-hop and
        Weft-internal headers (`host`, `authorization`, `cookie`,
        `proxy-authorization`, `x-forwarded-*`, `x-real-ip`,
        `x-payment`, `connection`, `upgrade`). Up to 32 headers, 4 KB of
        combined value bytes.
      operationId: fetch
      tags: [Fetch]
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: '^[!-~]+$'
          description: |
            Opaque caller-generated retry key. Reusing the same key for the
            same buyer converges on one paid fetch; keys are hashed and
            namespaced by buyer before storage. Send this header for every
            unattended or retryable paid request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchRequest"
      responses:
        "200":
          description: Paid fetch succeeded; artifact streamed back base64-encoded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchResponse"
        "401":
          description: Unauthorized — missing or non-buyer-scoped API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: |
            Payment refused. `EXCEEDED_MAX_COST` (over the caller cap) or
            `INSUFFICIENT_BALANCE` (the buyer is genuinely short —
            `details.asset`, when present, names the exact token the failed
            check read). Both use `FetchErrorResponse`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "403":
          description: |
            Policy violation, missing Crossmint payment permission
            (`PAYMENT_AUTHORIZATION_REQUIRED` — `details` carries the
            wallet-page URL where the authenticated user can enable
            payments), denylisted recipient, or a merchant challenge on a
            chain outside the wallet's own environment — a testnet wallet may
            not pay a mainnet challenge, nor the reverse
            (`WALLET_ENVIRONMENT_MISMATCH`; terminal, not retryable). All four
            use `FetchErrorResponse`. Alternatively an OAuth access token
            lacking the `fetch` scope (`InsufficientScopeResponse`, RFC 6750
            `insufficient_scope`, with a `WWW-Authenticate` challenge). The two
            envelopes are disjoint; branch on the `error` value.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FetchErrorResponse"
                  - $ref: "#/components/schemas/InsufficientScopeResponse"
        "409":
          description: |
            `IDEMPOTENCY_CONFLICT` — this buyer already used the supplied
            `Idempotency-Key` for a different fetch request. Generate a new key
            for the new operation; retry the original operation unchanged.

            Or `WALLET_SETUP_INCOMPLETE` — the buyer's wallet has not been
            created yet, so there is nothing to pay from. `details.wallet_url`
            carries the page where the authenticated user finishes setup. No
            retry succeeds until they do.

            Or `ACCOUNT_CLOSING` — account closure has started, so the wallet
            cannot reserve a new payment.

            Or `FUNDING_PENDING` — retry after `details.retry_after_seconds`.
            `details.reason` is `funding_active` when a buyer-owned Base-to-Tempo
            refill exists, or `balance_changed` when an overlapping payment
            invalidated the balance observation before funding could start.

            Or `DELIVERY_REPLAY_UNAVAILABLE` — the merchant already returned a
            successful response for this settled MPP payment, but Weft could
            not persist its bytes for replay. The merchant is not called again;
            `details.tx_hash` identifies the settled payment. All five use
            `FetchErrorResponse`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "413":
          description: Upstream artifact exceeded the proxy's size cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "422":
          description: |
            Invalid request fields, method, cost, body, headers, idempotency
            key, or URL. `UNSUPPORTED_ASSET` means the merchant requested an
            asset this wallet cannot settle. `UNSUPPORTED_PAYMENT_METHOD`
            means the MPP challenge requested a method Weft cannot execute.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "424":
          description: |
            `MERCHANT_RETURNED_NON_402` — the upstream merchant is at fault: it
            did not return a 402, or its 402 challenge was invalid. A 4xx (not
            5xx) because Weft behaved correctly and the caller should act on
            `details.reason` (e.g. pick another merchant); it also keeps the
            error envelope intact through CDNs that replace 5xx bodies.

            `PAID_DELIVERY_FAILED` — the MPP payment settled, but the merchant
            did not deliver a successful response. `details.tx_hash` identifies
            the settled payment; `details.merchant_status` is present when the
            merchant returned an HTTP response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "502":
          description: |
            Merchant connection failure (`MERCHANT_CONNECTION_FAILED`) or
            settlement signing failed on Weft's side (`SETTLEMENT_FAILED`).
            For merchant failures, `details.phase` identifies challenge or paid;
            paid requests may have moved funds. Reuse the same idempotency key.
            `details.reason` carries a stable payment sentence.
            `details.protocol` names a direct payment rail when that is safe and
            useful. It is absent for automatic-funding failures so provider,
            bridge, and retry details stay internal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
        "504":
          description: |
            `MERCHANT_TIMEOUT` — the upstream merchant did not complete the
            challenge or paid request inside Weft's transport budget.
            `details.phase` names the request. When it is `paid`,
            `details.payment_may_have_moved` is true because the credential was
            already sent. Retry the identical operation with the same
            `Idempotency-Key`.

            `SETTLEMENT_PENDING` — the payment was submitted and the wallet
            provider had not reached a terminal state before Weft's polling
            budget ran out. NOTHING is known to have failed: the charge may
            already have settled, so this is not `SETTLEMENT_FAILED` and the
            amount is not lost. `details.retry_with_same_idempotency_key` is
            `true`.

            Retry the identical request shortly. Sending the same
            `Idempotency-Key` resumes the same provider operation; a caller that
            sends no key is also safe, because Weft resumes its own in-flight
            operation for the same merchant, amount and network rather than
            opening a second one. Either way the retry resolves the original
            payment instead of charging twice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchErrorResponse"
  /api/v1/payments:
    get:
      summary: List payments
      operationId: listPayments
      tags: [Payments]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: List of payments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: |
            The credential authenticated but has no organization context
            (`ORGANIZATION_REQUIRED`). Account-scoped (buyer) keys cannot read
            this org-scoped endpoint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/payments/{id}:
    get:
      summary: Get payment details
      operationId: getPayment
      tags: [Payments]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Payment ID
      responses:
        "200":
          description: Payment details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/purchases:
    get:
      summary: List buyer purchases
      description: |
        Returns the authenticated buyer's signing and settlement ledger. Unlike
        `/api/v1/payments`, this endpoint is User-scoped and backed by
        `signed_events`, so rejected and pending attempts are included.

        Scoped to the buyer's own merchant spend, matching the dashboard's
        Purchases page. Internal signings are excluded: historical refill
        self-transfers (`rebalance`) and operator signings (`manual`) are not
        payments the buyer made and never appear here.
      operationId: listPurchases
      tags: [Purchases]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: Buyer purchase ledger
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseListResponse"
        "401":
          description: Unauthorized — missing or non-buyer-scoped credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: OAuth token lacks the `balance` scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
  /api/v1/purchases/{id}:
    get:
      summary: Get a buyer purchase
      operationId: getPurchase
      tags: [Purchases]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Purchase ID
      responses:
        "200":
          description: Buyer purchase details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseResponse"
        "401":
          description: Unauthorized — missing or non-buyer-scoped credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: OAuth token lacks the `balance` scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientScopeResponse"
        "404":
          description: Purchase not found or owned by another buyer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: Dashboard `wk_*` key, OAuth token, or a claimed `wbt_*` bearer on its fixed identity, search, balance, fetch, and purchase-history allowlist.
    bootstrapAuth:
      type: http
      scheme: bearer
      bearerFormat: BootstrapToken
      description: A `wbt_*` credential. Before claim it permits search, status, and cancellation for 30 minutes. Human approval promotes the same bearer to a fixed durable capability set until revocation.
  schemas:
    AccountBootstrapRequest:
      type: object
      additionalProperties: false
      required: [email, agent_name]
      example:
        email: human@example.com
        agent_name: Research agent
        host_name: OpenCode
        reason: Find weather data
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        agent_name:
          type: string
          minLength: 1
          maxLength: 100
        host_name:
          type: string
          maxLength: 100
        reason:
          type: string
          maxLength: 500
        oauth_client_id:
          type: string
          deprecated: true
          description: Transitional compatibility for older CLI releases that use OAuth device exchange.
        requested_scopes:
          type: array
          deprecated: true
          description: Transitional compatibility for older CLI releases that use OAuth device exchange.
          uniqueItems: true
          items:
            type: string
            enum: [balance, fetch, search]
    AccountBootstrapCreated:
      type: object
      additionalProperties: false
      required: [id, status, capabilities, expires_at, approval, temporary_api_key]
      example:
        id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
        status: pending
        capabilities: [search, status, cancel]
        expires_at: "2026-08-22T14:30:00Z"
        approval:
          method: email_link
          expires_in: 1800
          interval: 5
          user_code: W3FT-7K2M
        temporary_api_key: wbt_example_store_as_a_secret
      properties:
        id:
          type: string
          pattern: '^boot_[A-Za-z0-9_-]+$'
        status:
          type: string
          enum: [pending, claimed, rejected, expired, consumed, revoked]
        capabilities:
          type: array
          uniqueItems: true
          items:
            type: string
            enum: [identity, search, balance, fetch, purchases, status, cancel, revoke]
        expires_at:
          type: [string, "null"]
          format: date-time
          nullable: true
          description: Claim-window expiry. Null after the credential is promoted.
        approval:
          $ref: "#/components/schemas/AccountBootstrapCreatedApproval"
        temporary_api_key:
          type: string
          pattern: '^wbt_[A-Za-z0-9_-]+$'
          description: Returned once. Store as a secret; it cannot be recovered.
        device_code:
          type: string
          minLength: 32
          deprecated: true
          description: Transitional response field for older CLI releases that use OAuth device exchange.
    AccountBootstrapCreatedResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/AccountBootstrapCreated"
    AccountBootstrapStatusResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/AccountBootstrapStatus"
    AccountBootstrapStatus:
      type: object
      additionalProperties: false
      required: [id, status, capabilities, expires_at, approval]
      example:
        id: boot_01K3C9Y7Q4R6T8V2W5X0Z1A3B4
        status: claimed
        capabilities: [identity, search, balance, fetch, purchases, status, revoke]
        expires_at: null
        approval:
          method: email_link
          expires_in: 0
          interval: 5
      properties:
        id:
          type: string
          pattern: '^boot_[A-Za-z0-9_-]+$'
        status:
          type: string
          enum: [pending, claimed, rejected, expired, consumed, revoked]
        capabilities:
          type: array
          uniqueItems: true
          items:
            type: string
            enum: [identity, search, balance, fetch, purchases, status, cancel, revoke]
        expires_at:
          type: [string, "null"]
          format: date-time
          nullable: true
          description: Claim-window expiry. Null after the credential is promoted.
        approval:
          $ref: "#/components/schemas/AccountBootstrapApproval"
    AccountBootstrapApproval:
      type: object
      additionalProperties: false
      required: [method, expires_in, interval]
      properties:
        method:
          type: string
          enum: [email_link]
        expires_in:
          type: integer
          minimum: 0
        interval:
          type: integer
          minimum: 1
          description: Minimum status polling interval in seconds.
    AccountBootstrapCreatedApproval:
      type: object
      additionalProperties: false
      required: [method, expires_in, interval, user_code]
      properties:
        method:
          type: string
          enum: [email_link]
        expires_in:
          type: integer
          minimum: 0
        interval:
          type: integer
          minimum: 1
          description: Minimum status polling interval in seconds.
        user_code:
          type: string
          pattern: '^[A-Z0-9]{4}-[A-Z0-9]{4}$'
          description: Show this code to the human; approval requires a matching normalized code.
    RateLimitResponse:
      type: object
      required: [error, error_description]
      properties:
        error:
          type: string
          enum: [too_many_requests]
        error_description:
          type: string
    ErrorResponse:
      type: object
      description: |
        Standard error envelope returned by all `/api/v1` endpoints except
        `/search` and `/fetch` (which use bespoke envelopes carrying
        additional context). `error.code` is stable across releases and
        safe to branch on; `error.message` is human-readable and may change.
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required: [error]
      example:
        error:
          code: "unauthorized"
          message: "Invalid or expired API key"
          request_id: "req_01HX9F3K7B2N4P8Q1R6T8Y2Z5"
    Error:
      type: object
      description: |
        A single error inside an `ErrorResponse` envelope. `code` is the
        stable machine-readable identifier (snake_case), `message` is
        human-readable, `details` carries optional structured context
        (e.g. validation field breakdown), and `request_id` correlates
        with server logs for debugging.
      properties:
        code:
          type: string
          description: Stable machine-readable error code (snake_case).
          example: "validation_failed"
        message:
          type: string
          description: Human-readable error description.
          example: "Email has already been taken"
        details:
          type: object
          nullable: true
          description: Optional structured context about the failure.
        request_id:
          type: string
          description: Correlates with server logs; include when reporting bugs.
          example: "req_01HX9F3K7B2N4P8Q1R6T8Y2Z5"
      required: [code, message]
    InsufficientScopeResponse:
      type: object
      required: [error, error_description, scope]
      description: |
        RFC 6750 §3.1 `insufficient_scope` error. Returned with HTTP 403 and
        a `WWW-Authenticate: Bearer error="insufficient_scope", scope="..."`
        header when an OAuth access token authenticates successfully but does
        not carry the scope the endpoint requires. Only OAuth bearer tokens
        are scope-gated; `wk_`-prefixed API keys are unscoped and never see
        this response.
      properties:
        error:
          type: string
          enum: [insufficient_scope]
          example: insufficient_scope
        error_description:
          type: string
          example: The access token does not include the required scope.
        scope:
          type: string
          description: Space-delimited list of scopes the endpoint requires.
          example: balance
    MessageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
          required: [message]
      required: [data]
    ResourceEnrollmentRequest:
      type: object
      required: [kind, name]
      description: |
        `slug` and `category` are accepted but silently ignored — the server
        generates the slug from `name`, and category is a post-claim concern.
      properties:
        kind:
          type: string
          description: |
            Resource kind. Must be one of the supported kinds (currently
            `agent`); an unknown value is rejected with a 422.
          example: agent
        name:
          type: string
          description: Human-readable name; the server derives the slug from it.
          example: Self-Enrolled Bot
        description:
          type: string
        wallet_address:
          type: string
          description: |
            Declared EVM wallet address for the ghost resource. Stored as a
            claim (unverified) until the resource is claimed.
    ResourceEnrollmentResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/EnrolledResource"
    EnrolledResource:
      type: object
      description: |
        The `:created` view of a ghost resource. Adds `stats`, the single-use
        `claim_token`, and the `claim_url` to the base resource shape. The
        claim fields appear ONLY on this enrollment response — never in list
        or read views.
      required:
        - id
        - name
        - slug
        - kind
        - visibility
        - category
        - verified
        - claimed
        - created_at
        - stats
        - claim_token
        - claim_url
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        kind:
          type: string
          example: agent
        visibility:
          type: string
          example: public_profile
        wallet_address:
          type: string
          nullable: true
          description: Declared wallet address, or `null` if none was provided.
        category:
          type: string
          nullable: true
          description: |
            Legacy v3 taxonomy field. Returns a string only for `agent`-kind
            resources that carry a `category` in their metadata; `null` for
            all other kinds and for agents without one. Always `null` on
            enrollment (category is a post-claim concern).
        verified:
          type: boolean
        claimed:
          type: boolean
          description: True once the resource has an owning provider. Always false at enrollment.
        created_at:
          type: string
          format: date-time
        stats:
          $ref: "#/components/schemas/ResourceStats"
        claim_token:
          type: string
          description: Single-use token for the magic claim URL. Surfaced only on enrollment.
        claim_url:
          type: string
          nullable: true
          description: Dashboard path the agent hands to its human to claim the resource.
    ResourceStats:
      type: object
      description: Aggregate public payment stats for the resource.
      required:
        - total_paid
        - total_received
        - payments_made
        - payments_received
        - unique_counterparties
        - first_seen
        - last_active
      properties:
        total_paid:
          type: integer
          description: Total atomic units paid out by this resource.
        total_received:
          type: integer
          description: Total atomic units received by this resource.
        payments_made:
          type: integer
        payments_received:
          type: integer
        unique_counterparties:
          type: integer
        first_seen:
          type: string
          format: date-time
          nullable: true
        last_active:
          type: string
          format: date-time
          nullable: true
    Pagination:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      required: [page, per_page, total, total_pages]
    SignUpRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        password_confirmation:
          type: string
      required: [email, password, password_confirmation]
    SignInRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]
    ConfirmRequest:
      type: object
      properties:
        confirmation_token:
          type: string
      required: [confirmation_token]
    ResendConfirmationRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]
    PasswordResetRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]
    PasswordUpdateRequest:
      type: object
      properties:
        reset_password_token:
          type: string
        password:
          type: string
        password_confirmation:
          type: string
      required: [reset_password_token, password, password_confirmation]
    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/User"
            token:
              type: string
              nullable: true
            confirmation_required:
              type: boolean
          required: [user, confirmation_required]
      required: [data]
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        status:
          type: string
      required: [id, email]
    MeResponse:
      type: object
      properties:
        data:
          oneOf:
            - $ref: "#/components/schemas/AccountDetails"
            - $ref: "#/components/schemas/UserPrincipal"
          discriminator:
            propertyName: principal_type
            mapping:
              organization: "#/components/schemas/AccountDetails"
              user: "#/components/schemas/UserPrincipal"
      required: [data]
    AccountDetails:
      type: object
      description: |
        The Organization that owns the authenticated API key — the principal
        in API v1 (the key represents an Org, not a person). `api_key` carries
        audit info about the key itself, including the user who minted it
        (`created_by`, which may be `null` if that user has left the Org).
      properties:
        principal_type:
          type: string
          const: organization
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        kind:
          type: string
        api_key:
          $ref: "#/components/schemas/MeApiKey"
      required: [principal_type, id, name, slug, kind, api_key]
    UserPrincipal:
      type: object
      description: The buyer User represented by an account API key or OAuth token.
      properties:
        principal_type:
          type: string
          const: user
        id:
          type: integer
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, blocked]
        buyer_enabled:
          type: boolean
        seller_enabled:
          type: boolean
        provisioning_status:
          type: string
          enum: [pending, ready, not_applicable]
        wallet:
          anyOf:
            - $ref: "#/components/schemas/PrincipalWallet"
            - type: "null"
          nullable: true
      required:
        - principal_type
        - id
        - email
        - status
        - buyer_enabled
        - seller_enabled
        - provisioning_status
        - wallet
    PrincipalWallet:
      type: object
      properties:
        address:
          type: string
        network:
          type: string
      required: [address, network]
    MeApiKey:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
          nullable: true
        created_by:
          $ref: "#/components/schemas/MeApiKeyCreator"
      required: [id, created_at]
    MeApiKeyCreator:
      type: object
      nullable: true
      description: |
        The user who minted this API key, surfaced for audit rendering only.
        `null` if that user has since left the Organization. NEVER use for
        authorization.
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
      required: [id, email]
    CreateApiKeyRequest:
      type: object
      properties:
        name:
          type: string
          description: A friendly name for the API key
    ApiKey:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
          description: First 16 characters of the key for identification
        last_used_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
      required: [id, key_prefix, created_at]
    ApiKeyCreated:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        key_prefix:
          type: string
        raw_key:
          type: string
          description: Full API key (shown only once at creation)
        created_at:
          type: string
          format: date-time
      required: [id, key_prefix, raw_key, created_at]
    ApiKeyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ApiKey"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    ApiKeyCreatedResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ApiKeyCreated"
      required: [data]
    Payment:
      type: object
      properties:
        id:
          type: integer
        tx_hash:
          type: string
        payer_address:
          type: string
        recipient_address:
          type: string
        amount:
          type: integer
          description: Amount in atomic units (1 USDC = 1,000,000)
        amount_formatted:
          type: string
          description: Human-readable amount (e.g. "1.00 USDC")
        currency:
          type: string
        network:
          type: string
          description: CAIP-2 chain identifier
        resource_url:
          type: string
          nullable: true
        resource_host:
          type: string
          nullable: true
        settlement_latency_ms:
          type: integer
          nullable: true
        settled_at:
          type: string
          format: date-time
        api_key_name:
          type: string
      required: [id, tx_hash, payer_address, recipient_address, amount, amount_formatted, currency, network, settled_at, api_key_name]
    PaymentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Payment"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    PaymentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Payment"
      required: [data]
    Purchase:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum: [signed, settled, locked, rejected, declined, expired, reverted]
        amount_usd:
          type: string
          description: >-
            Exact decimal USD amount with up to six fractional digits. Settled
            rows report the amount that moved; pending and failed rows report
            their authorization amount.
        recipient_address:
          type: string
        network:
          type: string
        protocol:
          type: [string, "null"]
          nullable: true
          enum: [mpp, x402, null]
        context:
          type: [string, "null"]
          nullable: true
        tx_hash:
          type: [string, "null"]
          nullable: true
        reject_reason:
          type: [string, "null"]
          nullable: true
        failure_reason:
          type: [string, "null"]
          nullable: true
        idempotency_key:
          type: [string, "null"]
          nullable: true
        signed_at:
          type: string
          format: date-time
        settled_at:
          type: [string, "null"]
          format: date-time
          nullable: true
        artifact:
          anyOf:
            - $ref: "#/components/schemas/PurchaseArtifact"
            - type: "null"
          nullable: true
      required:
        - id
        - status
        - amount_usd
        - recipient_address
        - network
        - protocol
        - context
        - tx_hash
        - reject_reason
        - failure_reason
        - idempotency_key
        - signed_at
        - settled_at
        - artifact
    PurchaseArtifact:
      type: object
      properties:
        id:
          type: integer
        merchant_url:
          type: string
          format: uri
        bytes:
          type: integer
          minimum: 0
        mime:
          type: [string, "null"]
          nullable: true
      required: [id, merchant_url, bytes, mime]
    PurchaseListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Purchase"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required: [data, pagination]
    PurchaseResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Purchase"
      required: [data]
    BalanceResponse:
      type: object
      description: |
        Buyer's wallet snapshot. Note: unlike `/me` / `/payments` / `/api_keys`,
        this endpoint does NOT use a `data:` envelope — the response object
        is the snapshot directly.
      required:
        - promo
        - wallet
        - spent_today_usd
        - spent_week_usd
        - policy_used_today_usd
        - policy_used_week_usd
        - policy
      properties:
        promo:
          $ref: "#/components/schemas/PromoBalance"
        wallet:
          $ref: "#/components/schemas/Wallet"
        spent_today_usd:
          type: string
          description: >-
            USD spent in the current calendar day (UTC). Exact to the
            micro-dollar so sub-cent micro-payments survive ("0.0005",
            "0.42"), never narrower than two decimals; a zero total renders
            as "0.00".
          example: "0.0005"
        spent_week_usd:
          type: string
          description: >-
            USD spent in the current calendar week (UTC, Monday start). Exact
            to the micro-dollar ("0.0005", "3.10"), never narrower than two
            decimals; a zero total renders as "0.00".
          example: "3.10"
        policy_used_today_usd:
          type: string
          description: >-
            USD currently counted against the daily spending limit: pending
            authorizations at their maximum plus settled payments at the amount
            that moved. Exact to the micro-dollar; zero renders as "0.00".
          example: "0.30"
        policy_used_week_usd:
          type: string
          description: >-
            USD currently counted against the weekly spending limit: pending
            authorizations at their maximum plus settled payments at the amount
            that moved. Exact to the micro-dollar; zero renders as "0.00".
          example: "3.30"
        policy:
          $ref: "#/components/schemas/SpendingPolicy"
    PromoBalance:
      type: object
      description: |
        Freemium promo credit. v1 returns zero values; once the promo
        ledger ships (deferred from spec 10), real balances appear here
        without a shape change.
      required: [balance_usd, scope, expires_at]
      properties:
        balance_usd:
          type: string
          example: "0.00"
        scope:
          type: string
          description: Where the promo can be spent.
          example: "weft-search"
        expires_at:
          type: string
          format: date-time
          nullable: true
    Wallet:
      type: object
      required: [provider, address, balance_usdc, balance_tempo_usd, total_usd, network]
      properties:
        provider:
          type: string
          enum: [crossmint]
          description: Crossmint is the only buyer-wallet provider.
        address:
          type: string
          nullable: true
          description: Base smart-wallet address. Null only when Crossmint is unavailable.
        balance_usdc:
          type: string
          nullable: true
          description: >
            Live Base USDC balance, exact to the micro-dollar (up to 6 decimals,
            minimum 2). Null when Crossmint is unreachable; consumers must not
            interpret null as zero.
          example: "12.34"
        balance_tempo_usd:
          type: string
          nullable: true
          description: >
            Live aggregate Tempo dollar-token balance, exact to the micro-dollar
            (up to 6 decimals, minimum 2). Null when Crossmint is unreachable;
            consumers must not interpret null as zero.
          example: "2.03"
        total_usd:
          type: string
          nullable: true
          description: >
            Single aggregated USD balance across Base USDC and Tempo dollar
            tokens, exact to the micro-dollar. Null when either pocket is
            unreachable, because the surface never claims zero for a component
            it could not read.
          example: "12.34"
        network:
          type: string
          nullable: true
          description: >
            Selected Crossmint environment (`base_sepolia` or `base_mainnet`).
    SpendingPolicy:
      type: object
      required: [max_tx_usd, daily_limit_usd, weekly_limit_usd]
      properties:
        max_tx_usd:
          type: string
          description: Maximum USD per single transaction.
          example: "1.00"
        daily_limit_usd:
          type: string
          description: Maximum USD spent in a 24-hour window.
          example: "10.00"
        weekly_limit_usd:
          type: string
          description: Maximum USD spent in a 7-day window.
          example: "50.00"
    SearchRequest:
      type: object
      required: [query]
      additionalProperties: false
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 2000
          description: Free-text query. Required and non-empty.
          example: "send email from an agent"
        max_results:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
          description: Max number of hits to return. Invalid values are rejected, not clamped.
        filters:
          $ref: "#/components/schemas/SearchFilterSpec"
    SearchFilterSpec:
      type: object
      additionalProperties: false
      description: |
        Structured hard constraints on the query — the weft-search-platform
        `FilterSpec` v1 typed subset, vendored verbatim (D1 contract). Every
        field is optional; an empty object is the no-filter query. Set fields
        are ANDed. Each sub-filter takes exactly one operator; unknown filter
        keys and unknown operators are rejected (`422 INVALID_FILTERS`).

        `price` (USD decimal strings) and `price_atomic` (integer micro-USD) are
        two representations of ONE price constraint — the reasoning form and the
        settlement form. They are MUTUALLY EXCLUSIVE: setting both is
        `422 INVALID_FILTERS`. A JSON number in `price` is rejected (only decimal
        strings), so `{lte: 5}` can never be mis-read as 5 micro-dollars.

        The canonical enum value sets are pinned to the platform spec by the CI
        drift gate (`docs/contracts/search-platform.openapi.yaml`).
      properties:
        price:
          $ref: "#/components/schemas/SearchPriceUsdFilter"
        price_atomic:
          $ref: "#/components/schemas/SearchPriceAtomicFilter"
        type:
          $ref: "#/components/schemas/SearchResourceTypeFilter"
        protocol:
          $ref: "#/components/schemas/SearchProtocolFilter"
        category:
          $ref: "#/components/schemas/SearchStringSetFilter"
        method:
          $ref: "#/components/schemas/SearchMethodFilter"
        execution_mode:
          $ref: "#/components/schemas/SearchExecutionModeFilter"
        weft_fetch_compatible:
          type: boolean
          description: True requires at least one access method whose paid request is supported by the current Weft fetch runtime. For async operations this can mean submission-only coverage followed by the provider workflow.
        include_unknown_prices:
          type: boolean
          default: false
          description: With a price constraint, also retain dynamic and unknown prices.
    SearchPriceUsdFilter:
      type: object
      additionalProperties: false
      description: |
        Price constraint in USD, as decimal STRINGS (the reasoning form). Set
        exactly one operator: a scalar (`lte` / `gte` / `eq`) OR a range
        (`range_gte` + `range_lte` together, lower ≤ upper). Each value is a
        string matching `^\d+(\.\d{1,6})?$` (≤ 6 decimals, ≥ 0); a JSON number is
        rejected. Mutually exclusive with `price_atomic`. An unpriced resource is
        excluded from any price-filtered query.
      properties:
        lte:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          description: Price ≤ this many USD (inclusive ceiling), e.g. "0.009".
        gte:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          description: Price ≥ this many USD (inclusive floor), e.g. "0.001".
        eq:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          description: Price exactly this many USD, e.g. "1.5".
        range_gte:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          description: Range lower bound (inclusive), USD. Set with range_lte.
        range_lte:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          description: Range upper bound (inclusive), USD. Set with range_gte.
    SearchPriceAtomicFilter:
      type: object
      additionalProperties: false
      description: |
        The same price constraint in integer micro-USD (1 USDC = 1_000_000
        micro-USD) — the settlement form. Set exactly one operator: a scalar
        (`lte` / `gte` / `eq`) OR a range (`range_gte` + `range_lte` together,
        lower ≤ upper). Mutually exclusive with `price`. An unpriced resource is
        excluded from any price-filtered query.
      properties:
        lte:
          type: integer
          minimum: 0
          description: Price ≤ this many micro-USD (inclusive ceiling).
        gte:
          type: integer
          minimum: 0
          description: Price ≥ this many micro-USD (inclusive floor).
        eq:
          type: integer
          minimum: 0
          description: Price exactly this many micro-USD.
        range_gte:
          type: integer
          minimum: 0
          description: Range lower bound (inclusive), micro-USD. Set with range_lte.
        range_lte:
          type: integer
          minimum: 0
          description: Range upper bound (inclusive), micro-USD. Set with range_gte.
    SearchResourceTypeFilter:
      type: object
      additionalProperties: false
      description: Resource-type constraint. Set exactly one of `eq` / `in`.
      properties:
        eq:
          type: string
          enum: [api, agent, mcp_tool, webpage, feed, document, dataset]
          description: Resource type is exactly this value.
        in:
          type: array
          minItems: 1
          items:
            type: string
            enum: [api, agent, mcp_tool, webpage, feed, document, dataset]
          description: Resource type is one of these values.
    SearchProtocolFilter:
      type: object
      additionalProperties: false
      description: Payment-protocol constraint. Set exactly one of `eq` / `in`.
      properties:
        eq:
          type: string
          enum: [x402, a2a, mpp, erc_8004]
          description: Primary protocol is exactly this value.
        in:
          type: array
          minItems: 1
          items:
            type: string
            enum: [x402, a2a, mpp, erc_8004]
          description: Primary protocol is one of these values.
    SearchStringSetFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
        in:
          type: array
          minItems: 1
          items:
            type: string
    SearchMethodFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
        in:
          type: array
          minItems: 1
          items:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
    SearchExecutionModeFilter:
      type: object
      additionalProperties: false
      properties:
        eq:
          type: string
          enum: [sync, async, stream]
        in:
          type: array
          minItems: 1
          items:
            type: string
            enum: [sync, async, stream]
    SearchResponse:
      type: object
      required: [query_trace_id, query, embedder_model, candidates_considered, warnings, results]
      description: The weft-search-platform `POST /v1/search` response envelope.
      properties:
        query_trace_id:
          type: string
          format: uuid
          description: |
            Opaque trace id for the served query, matching the platform
            `query_trace_id` — and the `search_id` that re-reads it. Deliberately
            the same id rather than a second handle: one serve, one name.
        query:
          type: string
        format:
          type: string
          enum: [json, markdown]
          description: |
            Which view this response carries, echoing the requested format.
            `json` populates `results` and leaves `markdown` null; `markdown`
            populates `markdown` and leaves `results` empty. Exactly one is
            populated per response, never both — returning both eagerly would
            double the payload.
        markdown:
          type: string
          nullable: true
          description: |
            The flat comparison table, when `format` is `markdown`; null
            otherwise. Rendered deterministically from the same stored result
            the `json` view returns, so the two views of one search can never
            disagree.
        result_count:
          type: integer
          minimum: 0
          description: |
            How many `(Provider + Capability)` results the search produced. Read
            THIS, not `results.length`, for the count: on a `markdown` response
            `results` is empty by design, so `result_count > 0` with an empty
            `results` is a rendered table while `result_count == 0` is a genuine
            zero-result.
        served_from:
          type: string
          enum: [live, snapshot]
          description: |
            `live` for a fresh serve; `snapshot` for an immutable replay of a
            completed search. A re-read is a snapshot and says so — read it with
            `as_of` and `stale`.
        as_of:
          type: string
          format: date-time
          nullable: true
          description: |
            When the results were produced. Now on a `live` serve; on a
            `snapshot` the ORIGINAL serve time, because a replay returns exactly
            what was paid for, not current truth.
        stale:
          type: boolean
          description: |
            Whether the active search index has changed since these results were
            produced. `true` does not mean the results are wrong — it means they
            are a snapshot of an index that has since moved. Always `false` on a
            `live` serve.
        payment_note:
          type: string
          description: |
            How payment works across the catalog, stated once for the whole
            response rather than repeated in every endpoint's usage instructions.
        applied_filters:
          $ref: "#/components/schemas/SearchFilterSpec"
          description: |
            The `FilterSpec` actually applied to recall, echoed back so the
            caller sees exactly what constrained the results. In the current
            contract this is the caller's `filters` verbatim (empty object when
            none were sent).
        decomposition_source:
          type: string
          enum: [CALLER]
          description: Origin of `applied_filters`; always `CALLER`.
        embedder_model:
          type: string
        candidates_considered:
          type: integer
          minimum: 0
        warnings:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code:
                type: string
              message:
                type: string
              cause:
                type: string
                nullable: true
                description: Typed cause for codes that carry one. Null otherwise.
              context:
                type: object
                nullable: true
                description: Structured context for the warning. Null when the code carries none.
        match_quality:
          type: string
          enum: [strong, weak, none]
          default: none
          description: |
            Calibrated confidence in this result set — read this instead of
            thresholding a raw similarity score. `strong`: the top match is
            confidently on-intent, proceed. `weak`: above the relevance floor
            but inside the band where plausible-but-wrong matches live, verify
            the result before paying. `none`: nothing cleared the floor —
            `results` is empty and `reason` / `suggestion` say why. Results
            below the floor are never returned as near-misses.
        reason:
          type: string
          nullable: true
          enum: [below_relevance_floor, filter_collapsed_pool, no_catalog_coverage, unsupported_filter_value, index_unavailable]
          description: |
            Machine-readable cause of an empty result set, non-null exactly when
            `match_quality` is `none`. `below_relevance_floor`: candidates ranked
            but the best scored under the floor. `filter_collapsed_pool`: a caller
            filter cut the pool before ranking and nothing relevant survived —
            relax the filter. `no_catalog_coverage`: recall returned no candidates
            at all on an unfiltered query. `unsupported_filter_value`: a
            CATEGORICAL filter value (`type` / `protocol`) matches zero stored
            values, so it could never have matched — categorical only, since a
            continuous bound like `price` that matches nothing is reported as
            `filter_collapsed_pool` instead (the bound needs raising, the
            dimension is not unsupported). `index_unavailable`: no active index
            — an operational fault, paired with the `EMPTY_INDEX` warning.
        suggestion:
          type: string
          nullable: true
          description: |
            Human/agent-readable explanation of `reason`, carrying the concrete
            numbers behind it (pool sizes, the best discarded score against the
            floor, the values actually stored for a filter). Non-null exactly
            when `reason` is.
        results:
          type: array
          description: |
            Ranked `(Provider + Capability)` results; empty when the index is
            empty or nothing cleared the relevance floor. Results BELOW the floor
            are never returned — an empty list plus a `reason` is the honest
            answer, not a list of near-misses in the same shape as a genuine
            match.
          items:
            $ref: "#/components/schemas/SearchResult"
    SearchResult:
      type: object
      required: [provider, capability, endpoints, score]
      properties:
        provider:
          $ref: "#/components/schemas/SearchProviderRef"
        capability:
          $ref: "#/components/schemas/SearchCapabilityRef"
        endpoints:
          type: array
          items:
            $ref: "#/components/schemas/SearchEndpointHit"
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
    SearchProviderRef:
      type: object
      properties:
        provider_id:
          type: string
        display_name:
          type: string
          nullable: true
        origin_domains:
          type: array
          items:
            type: string
    SearchCapabilityRef:
      type: object
      properties:
        capability_id:
          type: string
        capability_type:
          type: string
          nullable: true
    SearchEndpointHit:
      type: object
      properties:
        endpoint_id:
          type: string
        url:
          type: string
          nullable: true
        resource_type:
          type: string
          nullable: true
        primary_protocol:
          type: string
          nullable: true
        call:
          $ref: "#/components/schemas/SearchEndpointCall"
        price:
          $ref: "#/components/schemas/SearchEndpointPrice"
        payment:
          type: array
          description: |
            The settlement routes this endpoint's own 402 challenge published —
            one entry per rail × network × asset × payee it accepts. Sibling of
            `call`: that block says how to shape the request, this says how to
            pay for it, so a caller can settle with its OWN x402/mpp SDK instead
            of guessing. A list because rails are irreducibly plural. Order is
            the provider's own preference order. Honest-empty when the pipeline
            observed no challenge.
          items:
            $ref: "#/components/schemas/SearchPaymentOffer"
        access_methods:
          type: array
          items:
            $ref: "#/components/schemas/SearchAccessMethod"
        service:
          $ref: "#/components/schemas/SearchCuratedService"
        operation:
          $ref: "#/components/schemas/SearchCuratedOperation"
        output_schema:
          type: object
          nullable: true
        output:
          type: object
          nullable: true
        execution:
          $ref: "#/components/schemas/SearchCuratedExecution"
        callability:
          $ref: "#/components/schemas/SearchCuratedCallability"
        compatibility:
          type: object
          nullable: true
        source:
          $ref: "#/components/schemas/SearchCuratedSource"
        operator_type:
          type: string
          nullable: true
          enum: [first_party, reseller]
          description: |
            Who you are actually paying. `first_party` = operated by the provider
            that makes the capability; `reseller` = resold, so the price carries
            someone else's margin. Null until the platform resolves the operator.
        operated_by_id:
          type: string
          nullable: true
        settled_via_facilitator_id:
          type: string
          nullable: true
        settlements:
          type: integer
          nullable: true
          description: |
            Count of payments observed settling against this endpoint by ANYONE
            (chain-indexed), not just by Weft — the reliability signal a caller
            can act on. Null when unknown.
        last_verified_at:
          type: string
          format: date-time
          nullable: true
          description: |
            When Weft last CONFIRMED this endpoint answers — the most recent
            conclusive probe. Null when never probed, or when the latest probe
            errored: an endpoint we last failed to reach has no current
            verification.
        latency_p50_ms:
          type: integer
          nullable: true
          description: |
            Median time-to-first-byte in ms across the endpoint's probe call set.
            First-byte latency, not full-response time. Null when unmeasured
            (never 0).
    SearchEndpointCall:
      type: object
      description: |
        The machine-readable call contract for this endpoint: the verb, the
        provider-declared argument schema, and the worked examples. Always
        present; an endpoint whose provider declares nothing carries an empty
        `method` and null members rather than an absent block, so a caller can
        always read `input_schema` without a presence check. Combine with the
        hit's `url` to construct the request.
      properties:
        method:
          type: string
          description: |
            The HTTP verb to send. Empty string when neither the index nor the
            provider's own 402 challenge / OpenAPI spec declares one.
        input_schema:
          type: object
          nullable: true
          description: |
            The provider's OWN structured declaration of the arguments this
            endpoint takes — the machine-usable form of what `usage_instructions`
            states in prose. Null when the provider declares nothing.
        example_request:
          type: object
          nullable: true
          description: |
            A worked set of arguments grouped by slot (`query` / `body` / `path`).
            Every value is one the PROVIDER published; never synthesized.
        example_response:
          nullable: true
          description: |
            The provider's own worked response body — what you get for your money,
            before paying. Carried verbatim, never synthesized.
    SearchEndpointPrice:
      type: object
      description: |
        Price + provenance + freshness for this (endpoint × capability) pairing.
        Always present; an unpriced endpoint carries null amounts rather than an
        absent block, so a caller never has to distinguish "free" from "we do not
        know".
      properties:
        indexed_usd:
          type: string
          nullable: true
          description: |
            The indexed price in USD as a decimal string (e.g. "0.008") — the
            dollar value people and agents reason in. A decimal string, never a
            float; trailing zeros trimmed. Null when unpriced.
        atomic:
          type: integer
          nullable: true
          description: |
            The same price in integer micro-USD — the settlement grain, exact.
            Null exactly when `indexed_usd` is. Use this for settlement.
        source:
          type: string
          nullable: true
          enum: [probe, inferred]
          description: |
            Where the amount came from. `probe` = observed live in the endpoint's
            own 402 payment-required challenge — an observation, the strongest
            evidence we hold. `inferred` = derived from a spec (OpenAPI) or a
            resale edge by the extraction pipeline, so it can lag a provider's
            re-pricing. Null when the endpoint carries no price.
        last_observed_at:
          type: string
          format: date-time
          nullable: true
          description: When the amount was observed. Null when unrecorded.
        live_verified:
          type: boolean
          description: |
            Whether this amount was confirmed against a live 402 challenge for
            THIS response. Search does not issue a payment-required probe at
            query time, so this is `false` today — treat an unflagged price as
            indexed, not verified.
    SearchPaymentOffer:
      type: object
      required: [protocol]
      description: |
        One settlement route the endpoint's own 402 challenge published — a
        (rail × network × asset × payee) tuple a caller can settle against
        directly with its own SDK.
      properties:
        protocol:
          type: string
          description: The payment rail (e.g. `x402`, `mpp`).
        scheme:
          type: string
          nullable: true
        network:
          type: string
          nullable: true
        asset:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        pay_to:
          type: string
          nullable: true
        max_timeout_seconds:
          type: integer
          nullable: true
        facilitator:
          type: string
          nullable: true
    SearchAccessMethod:
      type: object
      required: [access_method_id, protocol, price, weft_fetch]
      properties:
        access_method_id:
          type: string
        protocol:
          type: string
          enum: [x402, mpp, free]
        scheme:
          type: string
          nullable: true
        network:
          type: string
          nullable: true
        asset:
          type: string
          nullable: true
        asset_decimals:
          type: integer
          nullable: true
        price:
          type: object
        merchant:
          type: object
        terms:
          type: object
        status:
          type: string
          enum: [listed, observed, unavailable]
        weft_fetch:
          $ref: "#/components/schemas/SearchWeftFetchCompatibility"
    SearchWeftFetchCompatibility:
      type: object
      required: [state, reason, contract_version]
      properties:
        state:
          type: string
          enum: [supported, unsupported, unknown]
        reason:
          type: string
        contract_version:
          type: integer
    SearchCuratedService:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
    SearchCuratedOperation:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
    SearchCuratedExecution:
      type: object
      properties:
        mode:
          type: string
          nullable: true
          enum: [sync, async, stream]
    SearchCuratedCallability:
      type: object
      required: [state, missing]
      properties:
        state:
          type: string
          enum: [complete, incomplete]
        missing:
          type: array
          items:
            type: string
    SearchCuratedSource:
      type: object
      required: [catalog, snapshot_version, captured_at]
      properties:
        catalog:
          type: string
          enum: [curated_marketplace]
        snapshot_version:
          type: integer
        captured_at:
          type: string
          format: date-time
    SearchErrorResponse:
      type: object
      required: [error]
      description: |
        Bespoke error envelope returned by `/api/v1/search` for `422`, `502`,
        and `500` responses. It differs from the standard `ErrorResponse`
        envelope (no nested `code`/`message`/`request_id`); SDK clients
        should handle both shapes for this endpoint until the controller
        is migrated to the standard envelope.
      properties:
        error:
          type: string
          description: Stable error code.
          enum:
            - INVALID_QUERY
            - INVALID_MAX_RESULTS
            - INVALID_FILTERS
            - UNKNOWN_PARAMETER
            - SEARCH_UPSTREAM_ERROR
            - SEARCH_BACKEND_MISCONFIGURED
        details:
          type: object
          additionalProperties: true
          description: Optional context. Shape varies by error code.
    FetchRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Target URL. Must pass Weft's URL safety check (no SSRF / private IP ranges).
          example: "https://x402.api.agentmail.to/v0/inboxes"
        max_cost_usd:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          default: "0.10"
          description: Hard ceiling on what the buyer is willing to pay. Defaults to `0.10` USD.
          example: "0.05"
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS]
          default: GET
          description: HTTP method to use against the upstream.
        body:
          description: Request body forwarded to the upstream. Pass `null` for GET.
          oneOf:
            - type: string
            - type: object
            - type: "null"
        headers:
          type: object
          additionalProperties:
            type: string
          description: |
            Headers forwarded to the upstream. Up to 32 headers, 4 KB
            total. The following are silently stripped: `host`,
            `authorization`, `cookie`, `proxy-authorization`,
            `x-forwarded-*`, `x-real-ip`, `x-payment`, `connection`,
            `upgrade`.
          example:
            Accept: application/json
            User-Agent: my-agent/1.0
        search_id:
          type: string
          format: uuid
          description: |
            The `query_trace_id` from the `POST /api/v1/search` response that
            surfaced this URL. Optional and advisory: it attributes the purchase
            to the search that found it, and is used only for measurement.

            It never affects payment, authorization, idempotency, or the
            response body — the buyer is always resolved from the credential,
            never from this field. A value that is not a well-formed handle is
            ignored rather than rejected, so an analytics mistake can never cost
            a fetch.
          example: "11111111-1111-4111-8111-111111111111"
        operation_id:
          type: string
          description: Advisory operation id returned by search.
        access_method_id:
          type: string
          description: Advisory access-method id returned by search.
    FetchResponse:
      type: object
      additionalProperties: false
      description: |
        Successful fetch envelope. `body_base64` is the upstream artifact
        bytes, base64-encoded. `paid_usd`, `held_usd`, `payment_status`,
        `tx_hash`, and `protocol` describe the payment and settlement state.

        `paid_usd` is "0.00" (never the nominal charge amount) until the
        charge is CONFIRMED settled on-chain — a signed-but-unsettled hold
        reports its amount in `held_usd` instead. This is a deliberate
        honesty fix: earlier versions of this endpoint returned the nominal
        amount in `paid_usd` unconditionally, even when the charge never
        settled.

        **Money string format.** Every USD amount on this surface is exact to
        the micro-dollar and never narrower than two decimals: a whole-cent
        amount renders "0.50", a sub-cent amount keeps its real precision
        ("0.000892"), and zero renders "0.00". Amounts are never rounded — an
        agent reconciling its own spend reads the truth, not a display value.
        Parse these as decimals; do NOT compare them as strings against a
        bare zero literal.
      required: [status, headers, body_base64, paid_usd, held_usd, payment_status, tx_hash, protocol, artifact_id]
      properties:
        status:
          type: integer
          description: HTTP status returned by the upstream after the paid replay.
          example: 200
        headers:
          type: object
          additionalProperties:
            type: string
          description: Response headers from the upstream.
        body_base64:
          type: string
          description: Base64-encoded response body. Empty string for empty bodies.
        paid_usd:
          type: string
          nullable: true
          description: |
            USD amount actually settled on-chain. "0.00" for any charge that
            hasn't (yet, or ever) settled — a signed hold is not yet spend.
            See `held_usd` for the nominal amount in that case. Exact to the
            micro-dollar, minimum two decimals; parse as a decimal rather than
            string-comparing against a bare zero literal.
          example: "0.002"
        held_usd:
          type: string
          nullable: true
          description: |
            The nominal charge amount when `paid_usd` is "0.00" — a hold
            awaiting settlement, or a charge that failed/expired without ever
            settling. `null` once `paid_usd` reflects the real settlement.
            Same format as `paid_usd`: exact to the micro-dollar, minimum two
            decimals.
          example: "0.002"
        payment_status:
          type: string
          enum: [settled, pending, declined-pending, declined, expired, reverted]
          description: |
            Agent-facing settlement status. `pending` = signed, no refusal
            signal yet (settlement may still land, e.g. x402's async
            facilitator webhook). `declined-pending` = the merchant refused
            but the authorization isn't provably dead yet. `declined` /
            `expired` / `reverted` are terminal — the money never moved (or,
            for `reverted`, moved and then reversed on-chain) and never will
            for this charge.
          example: pending
        tx_hash:
          type: string
          nullable: true
          description: Settlement transaction hash. Null until a settlement hash has been reported.
        protocol:
          type: string
          enum: [x402, mpp]
          description: Payment protocol selected for this fetch.
        artifact_id:
          type: integer
          nullable: true
          description: Internal artifact identifier if the response was persisted; `null` otherwise.
    FetchErrorResponse:
      type: object
      required: [error, details, policy, balance, dashboard_url]
      description: |
        Bespoke error envelope for `/api/v1/fetch`. Every error carries the
        buyer's current `policy`, `balance`, and a `dashboard_url` so a CLI
        can render an actionable message without a second round-trip.

        `error` values include the fixed codes listed below plus the
        `POLICY_VIOLATION_<REASON>` family, where `<REASON>` is the violated
        policy field (`MAX_TX`, `DAILY`, or `WEEKLY` — see
        `PolicyViolation::REASONS`).
      properties:
        error:
          type: string
[...]
