=begin
#Weft API

#The Weft API powers the `weft` CLI, the hosted MCP server (`weft.network/mcp`), and third-party applications that discover and pay for resources on Weft. The buyer runtime covers six concerns:    1. Account creation and recovery (`/api/v1/auth/*`)   2. Credential identity (`/api/v1/me`)   3. Wallet visibility (`/api/v1/balance`)   4. Discovery (`/api/v1/search`)   5. Paid execution (`/api/v1/fetch`)   6. Purchase history (`/api/v1/purchases`)  Buyer runtime calls require a dashboard-created `wk_*` account key, an OAuth access token with the relevant scope, or a claimed `wbt_*` bearer on its fixed allowlist. The organization-scoped API key and payment operations in this document are seller administration surfaces and require an `ax_live_*` resource key. These credential types are not interchangeable.  This document is a deliberate subset of the `/api/v1` surface, not an inventory of it. The seller-side management endpoints — `/api/v1/agents`, `/api/v1/webhook_endpoints`, and `/api/v1/analytics` — are reachable with an `ax_live_*` key but are intentionally left undocumented: they are dashboard-facing and not part of the published client contract. Nothing outside this document is a supported contract, and the response-validation gate in `config/environments/test.rb` enforces only what is declared here.  Before claim, a `wbt_*` bearer is temporary and permits only search plus its own status/cancel operations for 30 minutes. Human approval binds it to the User and promotes the same secret to durable identity, search, balance, fetch, purchase-history, status, and revocation capabilities. It remains valid until revoked. Seller, organization, API-key administration, dashboard-session, transfer, withdrawal, and MCP surfaces always refuse it.  Bootstrap lifecycle successes follow the API-standard `{ \"data\": ... }` envelope. All errors share the envelope defined by `ErrorResponse`, except the buyer-runtime endpoints (`/search`, `/fetch`) which use bespoke envelopes carrying additional context — see `SearchErrorResponse` and `FetchErrorResponse`.

The version of the OpenAPI document: 0.26.8

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Weft
  class ResourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Self-enroll a ghost resource (public, no auth)
    # Lets an unauthenticated agent (or its operator) self-enroll a Resource as a \"ghost\" (no owning provider). The server generates the `slug` and a single-use `claim_token`; the response also carries a `claim_url` the agent hands to its human controller to claim the resource from the dashboard.  Client-supplied `slug` and `category` are silently ignored: slugs are server-generated from `name` (so callers cannot squat on reserved names), and `category` is a post-claim concern set by a real human.  Rate-limited to 10 enrollments/hour/IP.
    # @param resource_enrollment_request [ResourceEnrollmentRequest]
    # @param [Hash] opts the optional parameters
    # @return [ResourceEnrollmentResponse]
    def enroll_resource(resource_enrollment_request, opts = {})
      data, _status_code, _headers = enroll_resource_with_http_info(resource_enrollment_request, opts)
      data
    end

    # Self-enroll a ghost resource (public, no auth)
    # Lets an unauthenticated agent (or its operator) self-enroll a Resource as a \&quot;ghost\&quot; (no owning provider). The server generates the &#x60;slug&#x60; and a single-use &#x60;claim_token&#x60;; the response also carries a &#x60;claim_url&#x60; the agent hands to its human controller to claim the resource from the dashboard.  Client-supplied &#x60;slug&#x60; and &#x60;category&#x60; are silently ignored: slugs are server-generated from &#x60;name&#x60; (so callers cannot squat on reserved names), and &#x60;category&#x60; is a post-claim concern set by a real human.  Rate-limited to 10 enrollments/hour/IP.
    # @param resource_enrollment_request [ResourceEnrollmentRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceEnrollmentResponse, Integer, Hash)>] ResourceEnrollmentResponse data, response status code and response headers
    def enroll_resource_with_http_info(resource_enrollment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.enroll_resource ...'
      end
      # verify the required parameter 'resource_enrollment_request' is set
      if @api_client.config.client_side_validation && resource_enrollment_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_enrollment_request' when calling ResourcesApi.enroll_resource"
      end
      # resource path
      local_var_path = '/api/v1/resources/enroll'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_enrollment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceEnrollmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ResourcesApi.enroll_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#enroll_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
